.scroll-sidebar {
	position: relative;
	background-color: #F5F2F0;
	padding-bottom: 0px;
	padding-top: 0px
}

.sidebarnav {
	margin: 7px;
}

.sidebarnav>tbody>tr{
	height: 61px;
	border-bottom: 1px solid #000;
}
.sidebarnav>tbody>tr>td:first-child{
	font-weight: bold;
}

.sidebarnav>tfoot {
	width: 226px;
	background-color: #FFF;
	position: absolute;
	bottom: 7px;
}

.sidebarnav>tfoot>tr:first-child>td:first-child {
	width: 50%;
}

.sidebarnav>tfoot>tr:first-child>td:nth-child(2) {
	width: 22%;
}

.sidebarnav>tfoot>tr:first-child>td:nth-child(3) {
	width: 22%;
}

.sidebarnav>tfoot>tr:last-child>td>i {
	font-size: 30px;
	position: relative;
	top: 4px;
	left: 12px;
}

.sidebarnav>tfoot td>button {
	padding: 9px 25px;
	margin-bottom: 5px;
}


/*浼氬憳-鍟嗗搧鎸夐挳*/

.align-self-center>a {
	padding: 7px 39px;
}


/*鍟嗗搧鍒楄〃鏍峰紡*/

.commodity {
	width: 174px;
	height: 94px;
	border: 1px solid #000;
	border-radius: 5px;
	background-color: #FDFDFD;
	cursor: pointer;
}

.commodity:active {
	background-color: #F2F2FA;
}

.commodity>div {
	float: left;
}

.commodity_img {
	padding: 7px 5px 7px 7px;
}

.commodity_img>img {
	width: 77px;
	height: 77px;
}

.commodity_img1 {
	padding: 7px 2px 2px 2px;
}

.commodity_img1>img {
	width: 66px;
	height: 66px;
}

.commodity_info>p {
	margin: 6px;
}

.info_name {
	font-weight: bold;
	font-size: 13px;
}

.info_i {
	font-size: 12px;
}

.info_money {
	color: red;
}

.ellipsis-type {
	max-width: 65px;
	/*鏄剧ず瀹藉害*/
	white-space: nowrap;
	/*鏂囨湰涓嶆崲琛�*/
	overflow: hidden;
	/*瓒呰繃閮ㄥ垎闅愯棌*/
	text-overflow: ellipsis;
	/*瓒呰繃閮ㄥ垎鐢�...浠ｆ浛*/
	cursor: pointer;
	/*榧犳爣璁剧疆(涓嶆槸蹇呴』)*/
}