<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
    	<meta charset="utf-8">
		<link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/apple-icon.png}">
		<script th:src="@{/js/vue.js}"></script>
		<title>竹林流沙-登录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
		<link th:href="@{/css/style_login.css}" rel='stylesheet' type='text/css' />
    	<script src="assets/plugins/jquery/jquery.min.js"></script>
	</head>
	<body>
		<script>
			$(document).ready(function(c) {
				$('.close').on('click', function(c) {
					$('.login-form').fadeOut('slow', function(c) {
						$('.login-form').remove();
					});
				});
			});
		</script>
		<!--SIGN UP-->
		<h1>竹林流沙-商品类后台项目管理系统</h1>
		<div class="login-form">
			<div class="close"> </div>
			<div class="head-info">
				<label class="lbl-1"> </label>
				<label class="lbl-2"> </label>
				<label class="lbl-3"> </label>
			</div>
			<div class="clear"> </div>
			<div class="avtar">
				<img src="images/avtar.png" />
			</div>
			<form action="/login" method="get">
				<div class="username">
					<input type="text" class="userName" name="jobNumber"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'UserName';}">
				</div>
				<div class="userpwd">
					<input type="password" class="userPwd" name="password"   onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password_abcd';}">
				</div>
				<div class="random">
					<input type="text" class="randomCode" value="RandomCode" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'RandomCode';}">
					<img src="assets/images/big/img2.jpg" id="getRandomCode" width="90xpx" height="35px" />
					<!--/Y2ProjectC_Tenement/GenerateCodeAction?method=image-->
				</div>
			
			<div class="signin">
				<input type="submit" value="登录">
			</div>
			</form>
		</div>
		<div class="copy-rights">
			<p>版权所有 &copy;2019  竹林流沙工作室 保留所有权利 &nbsp;&nbsp;更多模板从
				<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				<!--<a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>-->
			</p>
		</div>

		
		<script type="text/javascript">
			$(function(){
				$("input[type='submit']").on("click", function(){
					//alert($(".userName").val() + " - " + $(".userPwd").val() + " - " + $(".randomCode").val());
					
					if($(".userName").val()==null||$(".userName").val()==""){
						alert("账户名不能为空");
						return false;
					}
					if($(".userPwd").val()==null||$(".userPwd").val()==""){
						alert("密码不能为空");
						return false;
					}
					//location.href="a_index.html";
				});
			});
			
		</script>
	</body>
</html>