<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>收银-竹林流沙商品管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link th:href="@{/css/style_programmer.css}" id="theme" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
    <link th:href="@{/css/style_b_cashier.css}" id="theme" rel="stylesheet">
</head>
<body class="fix-header fix-sidebar card-no-border">
	<div id="etc">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img th:src="@{/assets/images/logo-icon.png}" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img th:src="@{/assets/images/logo-text.png}" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/commoditytypes/toPage}" class="waves-effect _account nav_li_active">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/MemberManage/toMember}" class="waves-effect _account">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="c_user.html" aria-haspopup="true" aria-expanded="false">
                            	<img src="/assets/images/users/HeadPortrait.jpg" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <table class="sidebarnav">
                	<colgroup>
						<col width="50%">
						<col width="22%">
						<col width="22%">
					</colgroup>
					
                	<thead>
                		<tr>
                			<th colspan="3" style="background-color: #FFF;">
                				<div class="pull-left">
                        			<i class="fa fa-shopping-cart m-r-10" aria-hidden="true" style="font-size: 33px;margin: 6px 0 6px 9px;"></i>
                				</div>
                				
                				<div class="pull-right">
	                    			<button class="btn btn-default" style="margin: 6px 6px 6px 0;" data-toggle="modal" data-target=".bs-ee" @click="cksygd">挂</button>
                				</div>
                			</th>
                		</tr>
                	</thead>
                	
                	<tbody id="gwcl">
                		
                	</tbody>
                	<tfoot>
                		<tr>
                			<td>合计</td>
                			<td id="zsl">0</td>
                			<td id="zje">0</td>
                		</tr>
                		<tr>
                			<td colspan="3">
                    			<i class="fa fa-archive m-r-20" aria-hidden="true"></i>
                    			<button class="btn btn-default" onclick="gq()">挂起</button>
                    			<button class="btn btn-danger">收款</button>
                			</td>
                		</tr>
                	</tfoot>
                </table>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-6 col-8 align-self-center">
                    	<a href="#" class="btn pull-left hidden-sm-down btn-primary">&nbsp;会&nbsp;员&nbsp;</a>&nbsp;	
                    	<a href="#" class="btn hidden-sm-down btn-info">&nbsp;商&nbsp;品&nbsp;</a>
                    </div>
                    <div class="col-md-6 col-4 align-self-center">
                        <div class="f_input pull-right" style="position: relative;">
                        	<input type="text" placeholder="查找" class="form-control form-control-line f_input" style="width: 230px;" id="spname">
							<a href="javascript:;" class="list_search" @click="anamecx"></a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card" style="height: 422px;overflow: hidden;">
                            <div class="card-block" style="padding-top: 0px;">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                    	<thead>
                                    		<tr>
                                    			<th colspan="5">
						                    		<button class="btn btn-success" @click="cxqb">全部</button>
						                    		<span id="list_type">
						                    			<button class="btn btn-default" v-for="item,index in splbList" value="item.ctId" @click="splbcx(item.ctId)">{{item.ctName}}</button>
						                    		</span>
						                    		
						                    		<button class="btn btn-info pull-right" style="margin-left: 5px;" @click="nextPage">下一页</button>
						                    		<button class="btn btn-info pull-right" @click="prePage">上一页</button>
                                    			</th>
                                    		</tr>
                                    	</thead>
                                        <tbody>
                                            <tr id="xssj1">
                                                
                                            </tr>
                                            
                                            <tr id="xssj2">
                                                
                                            </tr>
                                            
                                            <tr id="xssj3">
                                               
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <div class="modal fade bs-ee" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">挂单</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<table>
					<colgroup>
						<col width="50%">
						<col width="35%">
						<col width="14%">
					</colgroup>
					<tbody>
						<tr>
							<th>订单</th>
							<th>总和</th>
							<th>操作</th>
						</tr>
						<tr v-for="(item,index) in gdList">
							<td>{{item.orderNumber}}</td>
							<td>{{item.actualIncome}}</td>
							<td><a @click="ddxz(item.orderNumber)">选择</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a @click="ddsc(item.orderNumber,index)">删除</a></td>
						</tr>
					</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    
    
    
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript - 比3和4 多以下三个js引入 -->
    <script src="/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    
    <script th:src="@{/js/vue.js}"></script>
    
    <script type="text/javascript">
    	/*
    	 * 
    	 * 这个页面的查询，比较麻烦，也不是用vue或jQuery的区别，而是因为table，分了三列
    	 * 解决办法（建议）：
    	 * 后台一样的查十五条
    	 * 前台显示，假设用vue，就用三个data保存，查到数据返回到这边 前台时，用循环和if解决，每5个添加到一个data里，
    	 * 然后页面标签自然用三个 v-for
    	 * 
    	 * */
    	 
    	 var vus=new Vue({
    		 el:"#etc",
    		 data(){
    			 return {
    				 splbList:[],
    				 PageList:{},
    				 gdList:[]
    			 }
    		 },
    		 methods:{
    			 queryBySy:function(){
    				 var _this=this;
    				 $.ajax({
    					url:"[[@{/Bcashier/queryBySy}]]",
    					type:"get",
    					data:{},
    					dataType:"json",
    					"success":function(res){
    						_this.splbList=res;
    					}
    				 });
    			 },
    			 splbcx:function(id){
    				 $("#xssj1").html("");
    				 $("#xssj2").html("");
    				 $("#xssj3").html("");
    				 alert(id);
    				 var $spname=$("#spname").val();
    				 var _this=this;
    				 var obj={
    						 pageNum:1,
    						 ctId:id,
    						 cmName:$spname
    				 }
    				 $.ajax({
    					url:"[[@{/Bcashier/queryBySpPage}]]",
    					type:"post",
    					data:JSON.stringify(obj),
    					dataType:"json",
    					contentType:"application/json",
    					"success":function(res){
    						_this.PageList=res;
    						$.each(res.list,function(i,obj){
    							if(i>=0&&i<=4){
    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
                                    	"<div class='commodity'>"+
                            		"<div class='commodity_img'>"+
                            			"<img src='/commodity/"+obj.imgPath+"'/>"+
                            		"</div>"+
                            		"<div class='commodity_info'>"+
                            			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
                            			"<p class='info_i'>"+
                            				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
                            			"</p>"+
                            			"<p class='info_money'>"+obj.salePrice+"</p>"+
                            		"</div>"+
                            	"</div>"+
                            "</td>";
    							}
    							$("#xssj1").append($td);
    							if(i>=5&&i<=9){
		    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
		                                	"<div class='commodity'>"+
		                        		"<div class='commodity_img'>"+
		                        			"<img src='/commodity/"+obj.imgPath+"'/>"+
		                        		"</div>"+
		                        		"<div class='commodity_info'>"+
		                        			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
		                        			"<p class='info_i'>"+
		                        				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
		                        			"</p>"+
		                        			"<p class='info_money'>"+obj.salePrice+"</p>"+
		                        		"</div>"+
		                        	"</div>"+
		                        	"</td>";
									$("#xssj2").append($td);
    							}
    							if(i>=10&&i<=14){
    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
                                	"<div class='commodity'>"+
                        		"<div class='commodity_img'>"+
                        			"<img src='/commodity/"+obj.imgPath+"'/>"+
                        		"</div>"+
                        		"<div class='commodity_info'>"+
                        			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
                        			"<p class='info_i'>"+
                        				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
                        			"</p>"+
                        			"<p class='info_money'>"+obj.salePrice+"</p>"+
                        		"</div>"+
                        	"</div>"+
                        	"</td>";
							$("#xssj3").append($td);
    							}
    						});
    						
    					}
    				 });
    				 
    			 },
    			 anamecx:function(){
    				 $("#xssj1").html("");
    				 $("#xssj2").html("");
    				 $("#xssj3").html("");
    				 var $spname=$("#spname").val();
    				 var _this=this;
    				 var obj={
    						 pageNum:1,
    						 ctId:"",
    						 cmName:$spname
    				 }
    				 $.ajax({
    					url:"[[@{/Bcashier/queryBySpPage}]]",
    					type:"post",
    					data:JSON.stringify(obj),
    					dataType:"json",
    					contentType:"application/json",
    					"success":function(res){
    						_this.PageList=res;
    						$.each(res.list,function(i,obj){
    							if(i>=0&&i<=4){
    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
                                    	"<div class='commodity'>"+
                            		"<div class='commodity_img'>"+
                            			"<img src='/commodity/"+obj.imgPath+"'/>"+
                            		"</div>"+
                            		"<div class='commodity_info'>"+
                            			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
                            			"<p class='info_i'>"+
                            				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
                            			"</p>"+
                            			"<p class='info_money'>"+obj.salePrice+"</p>"+
                            		"</div>"+
                            	"</div>"+
                            "</td>";
    							}
    							$("#xssj1").append($td);
    							if(i>=5&&i<=9){
		    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
		                                	"<div class='commodity'>"+
		                        		"<div class='commodity_img'>"+
		                        			"<img src='/commodity/"+obj.imgPath+"'/>"+
		                        		"</div>"+
		                        		"<div class='commodity_info'>"+
		                        			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
		                        			"<p class='info_i'>"+
		                        				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
		                        			"</p>"+
		                        			"<p class='info_money'>"+obj.salePrice+"</p>"+
		                        		"</div>"+
		                        	"</div>"+
		                        	"</td>";
									$("#xssj2").append($td);
    							}
    							if(i>=10&&i<=14){
    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
                                	"<div class='commodity'>"+
                        		"<div class='commodity_img'>"+
                        			"<img src='/commodity/"+obj.imgPath+"'/>"+
                        		"</div>"+
                        		"<div class='commodity_info'>"+
                        			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
                        			"<p class='info_i'>"+
                        				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
                        			"</p>"+
                        			"<p class='info_money'>"+obj.salePrice+"</p>"+
                        		"</div>"+
                        	"</div>"+
                        	"</td>";
							$("#xssj3").append($td);
    							}
    						});
    						
    					}
    				 });
    			 },
    			 cxqb:function(){
    				 $("#xssj1").html("");
    				 $("#xssj2").html("");
    				 $("#xssj3").html("");
    				 var $spname=$("#spname").val();
    				 var _this=this;
    				 var obj={
    						 pageNum:1,
    						 ctId:"",
    						 cmName:$spname
    				 }
    				 $.ajax({
    					url:"[[@{/Bcashier/queryBySpPage}]]",
    					type:"post",
    					data:JSON.stringify(obj),
    					dataType:"json",
    					contentType:"application/json",
    					"success":function(res){
    						_this.PageList=res;
    						$.each(res.list,function(i,obj){
    							if(i>=0&&i<=4){
    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
                                    	"<div class='commodity'>"+
                            		"<div class='commodity_img'>"+
                            			"<img src='/commodity/"+obj.imgPath+"'/>"+
                            		"</div>"+
                            		"<div class='commodity_info'>"+
                            			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
                            			"<p class='info_i'>"+
                            				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
                            			"</p>"+
                            			"<p class='info_money'>"+obj.salePrice+"</p>"+
                            		"</div>"+
                            	"</div>"+
                            "</td>";
    							}
    							$("#xssj1").append($td);
    							if(i>=5&&i<=9){
		    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
		                                	"<div class='commodity'>"+
		                        		"<div class='commodity_img'>"+
		                        			"<img src='/commodity/"+obj.imgPath+"'/>"+
		                        		"</div>"+
		                        		"<div class='commodity_info'>"+
		                        			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
		                        			"<p class='info_i'>"+
		                        				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
		                        			"</p>"+
		                        			"<p class='info_money'>"+obj.salePrice+"</p>"+
		                        		"</div>"+
		                        	"</div>"+
		                        	"</td>";
									$("#xssj2").append($td);
    							}
    							if(i>=10&&i<=14){
    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
                                	"<div class='commodity'>"+
                        		"<div class='commodity_img'>"+
                        			"<img src='/commodity/"+obj.imgPath+"'/>"+
                        		"</div>"+
                        		"<div class='commodity_info'>"+
                        			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
                        			"<p class='info_i'>"+
                        				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
                        			"</p>"+
                        			"<p class='info_money'>"+obj.salePrice+"</p>"+
                        		"</div>"+
                        	"</div>"+
                        	"</td>";
							$("#xssj3").append($td);
    							}
    						});
    						
    					}
    				 });
    			 },
    			 prePage:function(){
						if(this.PageList.prePage>=1){
	 							this.queryBySpPage(this.PageList.prePage);
						}
	 				},
	 				nextPage:function(){
	 					if(this.PageList.nextPage<=this.PageList.pages&&this.PageList.nextPage!=0){
	 							this.queryBySpPage(this.PageList.nextPage);
	 					}
	 				},
    			 queryBySpPage:function(pageNum){
    				 $("#xssj1").html("");
    				 $("#xssj2").html("");
    				 $("#xssj3").html("");
    				 var $spname=$("#spname").val();
    				 var _this=this;
    				 var obj={
    						 pageNum:pageNum,
    						 ctId:"",
    						 cmName:$spname
    				 }
    				 $.ajax({
    					url:"[[@{/Bcashier/queryBySpPage}]]",
    					type:"post",
    					data:JSON.stringify(obj),
    					dataType:"json",
    					contentType:"application/json",
    					"success":function(res){
    						_this.PageList=res;
    						$.each(res.list,function(i,obj){
    							if(i>=0&&i<=4){
    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
                                    	"<div class='commodity'>"+
                            		"<div class='commodity_img'>"+
                            			"<img src='/commodity/"+obj.imgPath+"'/>"+
                            		"</div>"+
                            		"<div class='commodity_info'>"+
                            			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
                            			"<p class='info_i'>"+
                            				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
                            			"</p>"+
                            			"<p class='info_money'>"+obj.salePrice+"</p>"+
                            		"</div>"+
                            	"</div>"+
                            "</td>";
    							}
    							$("#xssj1").append($td);
    							if(i>=5&&i<=9){
		    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
		                                	"<div class='commodity'>"+
		                        		"<div class='commodity_img'>"+
		                        			"<img src='/commodity/"+obj.imgPath+"'/>"+
		                        		"</div>"+
		                        		"<div class='commodity_info'>"+
		                        			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
		                        			"<p class='info_i'>"+
		                        				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
		                        			"</p>"+
		                        			"<p class='info_money'>"+obj.salePrice+"</p>"+
		                        		"</div>"+
		                        	"</div>"+
		                        	"</td>";
									$("#xssj2").append($td);
    							}
    							if(i>=10&&i<=14){
    								var $td="<td onclick='hqys(this,"+obj.barCode+")'>"+
                                	"<div class='commodity'>"+
                        		"<div class='commodity_img'>"+
                        			"<img src='/commodity/"+obj.imgPath+"'/>"+
                        		"</div>"+
                        		"<div class='commodity_info'>"+
                        			"<p class='info_name ellipsis-type' title='"+obj.cmName+"'>"+obj.cmName+"</p>"+
                        			"<p class='info_i'>"+
                        				"<i class='fa fa-code m-r-10' aria-hidden='true'></i>"+
                        			"</p>"+
                        			"<p class='info_money'>"+obj.salePrice+"</p>"+
                        		"</div>"+
                        	"</div>"+
                        	"</td>";
							$("#xssj3").append($td);
    							}
    						});
    						
    					}
    				 });
    				 
    			 },
    			 cksygd:function(){
    				 var _this=this;
    				 $.ajax({
    		    			url:"[[@{/TransactionRecordMain/queryByDd}]]",
    		    			type:"get",
    		    			data:{},
    		    			dataType:"json",
    		    			"success":function(res){
    		    				_this.gdList=res;
    		    			}
    		    		});
    			 },
    			 ddxz:function(id){
    				 $.ajax({
    					url:"[[@{/TransactionRecordMain/queryById}]]",
    					type:"get",
    					data:{
    						orderNumber:id
    					},
    					dataType:"json",
    					"success":function(res){
    						this.spq=res.details
    						alert(JSON.stringify(this.spq));
    						$.each(this.spq,function(i,obj){
    							var $sda="<tr>"+
    		        			"<td class='ellipsis-type' value='"+obj.articleNo+"'>"+obj.name+"<br/><i class='fa fa-code' aria-hidden='true'></i></td>"+
    		        			"<td>"+obj.quantity+"</td>"+
    		        			"<td>"+obj.totalPrice+"</td>"+
    		        			"</tr>";
    		        			$("#gwcl").append($sda);
    						});
    					}
    				 });
    			 },
    			 ddsc:function(id,index){
    				 var _this=this;
    				 //挂单删除
    				 $.ajax({
    					 url:"[[@{/TransactionRecordMain/deleteById}]]",
    					 type:"delete",
    					 data:{
    						 orderNumber:id
    					 },
    					 dataType:"json",
    					 "success":function(res){
    						 if(res.msg=="删除成功"){
    							 _this.gdList.splice(index,1);
    						 }else{
    							 alert(res.msg);
    						 }
    					 }
    				 });
    			 }
    		 },
    		 created:function(){
    			 this.queryBySy();
    			 this.queryBySpPage(1);
	 		}
    	 });
    	var spq=[];
    	var zsl3=0;
    	var zjg=0;
    	 function hqys(s,id){
				var sd=$(s).find(".info_money").text();
				var sw=$(s).find(".info_name").text();
				var sfg={
					name:sw,//商品名字
					rawTotalPrice:sd,//商品原价
					articleNo:id,//商品条形码
					quantity:1,//商品数量
					totalPrice:sd,//商品金额
					orderNumber:"",//订单号
					state:0//成交状态
				};
				zsl3+=sfg.quantity;
				zjg+=parseInt(sfg.rawTotalPrice);
				var pd=false;
				if(this.spq.length!=0){
				for(i=0;i<this.spq.length;i++){
					if(this.spq[i].articleNo!=id){
						alert("没有找到");
						pd=true;
					}else{
						pd=false;
						alert("已存在这个商品");
						this.spq[i].quantity+=1;
						$("#gwcl>tr").each(function(){
							if($(this).find("td:first").attr("value")==spq[i].articleNo){
								var sad=parseInt($(this).find("td:first").next().text());
								var $fhjf=sad+1;
								$(this).find("td:first").next().text($fhjf);
								var $jg=parseInt($(this).find("td:last").text());
								var $xj=sd*$fhjf;//商品价格(数量和单价相乘)
								spq[i].totalPrice=$xj;
								$(this).find("td:last").text($xj);
								var $zsl=parseInt($(this).find("td:first").next().text());
								alert("数量显示:"+$zsl);
							}
						});
						i=this.spq.length;//跳出循环
					}
					
				}
				
				if(pd==true){
					this.spq.push(sfg);
					var $sda="<tr>"+
        			"<td class='ellipsis-type' value='"+sfg.articleNo+"'>"+sfg.name+"<br/><i class='fa fa-code' aria-hidden='true'></i></td>"+
        			"<td>"+sfg.quantity+"</td>"+
        			"<td>"+sfg.totalPrice+"</td>"+
        			"</tr>";
        			$("#gwcl").append($sda);
        			$("#gwcl>tr").each(function(){
						var $zsl=parseInt($(this).find("td:first").next().text());
						alert("数量显示:"+$zsl);
						});
				}
				
				}else{
					this.spq.push(sfg);
					alert("商品名字:"+sfg.name);
					var $sda="<tr>"+
        			"<td class='ellipsis-type' value='"+sfg.articleNo+"'>"+sfg.name+"<br/><i class='fa fa-code' aria-hidden='true'></i></td>"+
        			"<td>"+sfg.quantity+"</td>"+
        			"<td>"+sfg.totalPrice+"</td>"+
        			"</tr>";
        			$("#gwcl").append($sda);
        			$("#gwcl>tr").each(function(){
						var $zsl=parseInt($(this).find("td:first").next().text());
						alert("数量显示:"+$zsl);
						});
				}
				alert("总数量:"+zsl3);
				$("#zsl").text(zsl3);
				$("#zje").text(zjg);
				alert(JSON.stringify(this.spq));
		 }
    	 
    	var ddh="";//生成的订单号
    	 
    	 //挂起操作
    	 function gq(){
    		 var random_no = "";//订单号
             for (var i = 0; i < 2; i++) //j位随机数，用以加在时间戳后面。
             {
                 random_no += Math.floor(Math.random() * 10);
             }
             ddh = new Date().getTime() + random_no;
             alert(ddh);
             //获取当前时间
             	var createtime =new Date();
				var year=createtime.getFullYear();
				var month=createtime.getMonth()+1;
				var date=createtime.getDate();
				var hours=createtime.getHours();
				var minutes=createtime.getMinutes();
				var seconds=createtime.getSeconds();
				var create=year+"-"+month+"-"+date+" "+hours+":"+minutes+":"+seconds;
				alert(JSON.stringify(spq));
				for(var i=0;i<spq.length;i++){
					alert(i);
					spq[i].orderNumber=ddh;
					spq[i].state=1;
				}
             //成交记录主表
             var rtm={
            		 orderNumber:ddh,//订单号
            		 client:0,//客户编号
            		 totalSum:zjg,//总额
            		 discount:0.00,//折扣
            		 actualIncome:zjg,//实收
            		 notIncome:0,//未收
            		 paymount:0,//支付方式
            		 shopId:1,//店铺编号
            		 cashier:"阿关",//收营员
            		 shopAssistant:"阿威",//营业员
            		 state:1,//成交状态
            		 createTime:create,//下单时间
            		 remark:"备注",//备注
            		 details:spq//成交详表记录
             }
             alert(JSON.stringify(rtm));
             if(spq.length!=0){
              $.ajax({
            	url:"[[@{/TransactionRecordMain/insertAllGd}]]",
            	type:"post",
            	data:JSON.stringify(rtm),
            	dataType:"json",
            	contentType:"application/json",
            	"success":function(res){
            		alert("挂单成功！");
            		if(res.msg=="挂单成功"){
            			spq.length = 0;
            			$("#gwcl").html("");
            		}
            	}
             });
             }else{
            	 alert("你还没选择商品");
             }
    	 }
    </script>
</body>
</html>
