<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>职位权限-竹林流沙商品管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link href="css/style_programmer.css" id="theme" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="pos">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                     <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/commoditytypes/toPage}" class="waves-effect _account nav_li_active">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/MemberManage/toMember}" class="waves-effect _account">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="c_user.html" aria-haspopup="true" aria-expanded="false">
                            	<img src="assets/images/users/HeadPortrait.jpg" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/findshop}" class="waves-effect active">
                            	<i class="fa fa-twitter-square m-r-10" aria-hidden="true"></i>店铺管理
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/findposition}" class="waves-effect">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>职位权限
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/findstaff}" class="waves-effect">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>员工管理
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0" style="float: left;margin-right: 20px;">职位权限</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center" style="padding-left: 60px;">
                        <a href="#" class="btn pull-right hidden-sm-down btn-info" data-toggle="modal" data-target="#insert">添加职位</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <!--<h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>名称</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item,index in pos">
                                                <td>{{(index+1)}}</td>
                                                <td>{{item.posName}}</td>
                                                <td><a href="#" class="btn hidden-sm-down btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">编辑</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Model -->
    <!-- ============================================================== -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabe">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabe">编辑职位</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<div class="form-group col-md-12">
							<label for="exampleInputName2">职位名称：</label>&nbsp;
							<input type="text" class="form-control" id="exampleInputName2" placeholder="职位名称">
						</div>
	
						<div class="form-group col-md-12">
							<label for="exampleInputName2">职位权限：</label>&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">销售：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">收银开单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">编辑订单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">删除订单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">操作发货</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">查看订单</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">报表：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">营收概况</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">热销商品</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">业绩排行</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">月损益表</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">会员：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">增加会员</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">编辑会员</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">删除会员</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">会员充值</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">商品：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">增加商品</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">编辑商品</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">删除商品</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">库存：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">入仓单</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">出货单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">调拨单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">退货单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">报损单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">盘点单</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">采购：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">供应商</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">订货会</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">采购单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">合同审核</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">店铺：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">店铺信息</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">职位权限</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">员工管理</label>&nbsp;&nbsp;&nbsp;
	
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger">删除</button>
					<button type="button" class="btn btn-primary">确定</button>
					<button type="reset" class="btn btn-default" data-dismiss="modal">返回</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">添加职位</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<div class="form-group col-md-12">
							<label for="exampleInputName2">职位名称：</label>&nbsp;
							<input type="text" class="form-control" id="exampleInputName2" placeholder="职位名称">
						</div>
	
						<div class="form-group col-md-12">
							<label for="exampleInputName2">职位权限：</label>&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">销售：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">收银开单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">编辑订单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">删除订单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">操作发货</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">查看订单</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">报表：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">营收概况</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">热销商品</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">业绩排行</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">月损益表</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">会员：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">增加会员</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">编辑会员</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">删除会员</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">会员充值</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">商品：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">增加商品</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">编辑商品</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">删除商品</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">库存：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">入仓单</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">出货单</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">调拨单</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">退货单</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">报损单</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">盘点单</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">采购：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">供应商</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">订货会</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">采购单</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">合同审核</label>&nbsp;&nbsp;&nbsp;
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">店铺：</label>&nbsp;
							<input type="checkbox"><label for="exampleInputName2">店铺信息</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">职位权限</label>&nbsp;&nbsp;&nbsp;
							<input type="checkbox"><label for="exampleInputName2">员工管理</label>&nbsp;&nbsp;&nbsp;
	
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary">确定</button>
					<button type="reset" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	</div>
    <!-- ============================================================== -->
    <!-- End Model -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript - 比3和4 多以下三个js引入 -->
    <script src="assets/plugins/flot/jquery.flot.js"></script>
    <script src="assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script>
    		var vue=new Vue({
    			el:"#pos",
    			data(){
    				return {
    					pos:[]
    				}
    			},methods:{
    				queryPosition:function(){
    					var this_=this;
    					$.ajax({
    						url:"[[@{/pos/queryAll}]]",
    						type:"get",
    						success:function(res){
    							this_.pos=res;
    						}
    					});
    				}
    			},
    			created:function(){
    				this.queryPosition();
    			}
    		});
    
    </script>
</body>
</html>
