<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>店铺-竹林流沙商品管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <link href="css/style_programmer.css" id="theme" rel="stylesheet">
    
    
</head>

<body class="fix-header fix-sidebar card-no-border" >
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="ok">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/statistics/toPage}">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a th:href="@{/statistics/toPage}" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/Bcashier/toBcashier}" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account nav_li_active">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/commoditytypes/toPage}" class="waves-effect _account">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/inventory/toPage}" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/MemberManage/toMember}" class="waves-effect _account">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>

                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" th:href="@{/finduser}" aria-haspopup="true" aria-expanded="false">
                            	<img v-bind:src="'/head/' + loginStaff.headPortraitPath" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/findshop}" class="waves-effect active">
                            	<i class="fa fa-twitter-square m-r-10" aria-hidden="true"></i>店铺管理
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/findposition}" class="waves-effect">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>职位权限
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/findstaff}" class="waves-effect">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>员工管理
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0" style="float: left;margin-right: 20px;">门店列表</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center" style="padding-left: 60px;">
                        <a href="#" class="btn pull-right hidden-sm-down btn-info" data-toggle="modal" data-target="#insert" @click="tj">添加门店</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row " id="sb">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <!--<h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>账号</th>
                                                <th>店名</th>
                                                <th>员工</th>
                                                <th>联系人</th>
                                                <th>手机</th>
                                                <th>电话</th>
                                                <th>地址</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item,index in list">
                                                <td>{{(index+1)}}</td>
                                                <td>{{item.account}}</td>
                                                <td>{{item.shopName}}</td>
                                                <td>{{item.staffcount}}</td>
                                                <td>{{item.linkman}}</td>
                                                <td>{{item.phone}}</td>
                                                <td>{{item.telephone}}</td>
                                                <td>{{item.province}}{{item.city}}{{item.region}}{{item.street}}</td>
                                                <td><a href="#" class="btn hidden-sm-down btn-info" data-toggle="modal" data-target=".bs-example-modal-lg" @click="queryId(item.shopId)">编辑</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Model -->
    <!-- ============================================================== -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">编辑门店</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<input type="hidden" id="shopId">
						<input type="hidden" id="account">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">店铺名：</label>&nbsp;
							<input type="text" class="form-control" id="shopName" placeholder="Jane Doe">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">手机：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" id="phone" placeholder="手机号">
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputEmail2">联系人：</label>&nbsp;
							<input type="email" class="form-control" id="linkman" placeholder="联系人">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">固话：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" id="telephone" placeholder="电话">
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11" data-toggle="distpicker">
							<label for="exampleInputName2">地&nbsp;&nbsp;&nbsp;&nbsp;址：</label>&nbsp;
							<select class="form-control form-control-line province" id="province1" ></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line city" id="city1"></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line region" id="district1"></select>
						</div>
	
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputEmail2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;
							<input type="text" id="stree" class="form-control col-md-6"  placeholder="填写详细地址">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" @click="del" data-dismiss="modal">删除</button>
					<button type="button" class="btn btn-primary" @click="update" data-dismiss="modal">修改保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="insert" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg" id="sb">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">添加门店</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></+>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">店铺名：</label>&nbsp;
							<input type="text" class="form-control" id="exampleInputName2" v-model="shop.shopName" placeholder="店铺名">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">账户：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" id="exampleInputEmail2"  v-model="shop.account"  placeholder="账户">
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputEmail2">手机号：</label>&nbsp;
							<input type="email" class="form-control" id="exampleInputEmail2"  v-model="shop.phone"  placeholder="手机号">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">电话：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" id="exampleInputEmail2"  v-model="shop.telephone"  placeholder="电话">
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputEmail2">联系人：</label>&nbsp;
							<input type="email" class="form-control" id="exampleInputEmail2"  v-model="shop.linkman"  placeholder="联系人">
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11" data-toggle="distpicker">
							<label for="exampleInputName2">地&nbsp;&nbsp;&nbsp;&nbsp;址：</label>&nbsp;
							<select class="form-control form-control-line sheng" id="province1" v-model="shop.province"></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line s" id="city1" v-model="shop.city"></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line q" id="district1" v-model="shop.region"></select>
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputEmail2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>&nbsp;&nbsp;&nbsp;
							<input type="text" v-model="shop.street" class="form-control col-md-6" id="exampleInputEmail2" placeholder="填写详细地址">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="xz" data-dismiss="modal">新增</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	</div>
    <!-- ============================================================== -->
    <!-- End Model -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript - 比3和4 多以下三个js引入 -->
    <script src="assets/plugins/flot/jquery.flot.js"></script>
    <script src="assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
	<script src="assets/plugins/address/distpicker.data.min.js"></script>
  	<script src="assets/plugins/address/distpicker.min.js"></script>
  	<script src="assets/plugins/address/main.js"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script>
    	 	var vue=new Vue({
    			el:"#ok",
    			data(){
    				return {
    					loginStaff : {},
    					list:[],
    					shop:{},
    					sss:{}
    				}
    			},methods:{
    				queryHeadPic : function(){
    	 				var this_ = this;
    					$.ajax({
    						url:"[[@{/session}]]",
    						type:"get",
    						dataType : "json",
    						success:function(res){
    							//alert(JSON.stringify(res));	session中保存的用户信息
    							//$(".profile-pic").attr("src", "/head/" + res.headPortraitPath);
    							this_.loginStaff = res;
    						}
    					});
    				},
    				queryAll:function(){
    					var this_=this;
    					$.ajax({
    						url:"[[@{/queryAll}]]",
    						type:"get",
    						success:function(res){
    							this_.list=res;
    						}
    					});
    				},
    				xz:function(){
    	 				var this_=this;
    	 				//alert(JSON.stringify(this_.shop));
    	 				$.ajax({
    	 					url:"[[@{/insert}]]",
    	 					type:"post",
    	 					data:this_.shop,
    	 					dataType:"json",
    	 					success:function(res){
    	 						//alert(res.code);
    	 						this_.queryAll();
    	 					}
    	 				});
    	 			},
    	 			queryId:function(id){
    	 				var this_=this;
    	 				$.ajax({
    	 					url:"[[@{/queryId}]]",
    	 					type:"get",
    	 					data:{
    	 						id:id
    	 					},
    	 					success:function(res){
    	 						this_.sss=res;
    	 						//alert(JSON.stringify(this_.sss));
    	 						$("#shopName").val(this_.sss.shopName);
    	 						//$("#shopName").val(this_.sss.shopName);
    	 						$("#phone").val(this_.sss.phone);
    	 						$("#linkman").val(this_.sss.linkman);
    	 						$("#telephone").val(this_.sss.telephone);
    	 						$('.province').val(this_.sss.province).trigger('change');
    	 						$('.city').val(this_.sss.city).trigger('change');
    	 						$('.region').val(this_.sss.region).trigger('change');
    	 						$("#stree").val(this_.sss.street);
    	 						$("#account").val(this_.sss.account);
    	 						$("#shopId").val(this_.sss.shopId);
    	 						
    	 					}
    	 				});
    	 			},
    	 			update:function(){
    	 				var this_=this;
    	 				var shop={
            	 				shopName:$("#shopName").val(),
            	 				phone:$("#phone").val(),
            	 				telephone:$("#telephone").val(),
            	 				province:$('.province').val(),
            	 				linkman:$("#linkman").val(),
            	 				city:$('.city').val(),
            	 				region:$('.region').val(),
            	 				street:$("#stree").val(),
            	 				shopId:$("#shopId").val(),
            	 				account:$("#account").val()
            	 		};
    	 				$.ajax({
            	 			url:"[[@{/update}]]",
            	 			type:"post",
            	 			data:JSON.stringify(shop),
            	 			contentType:"application/json;charset=utf-8",
            	 			dataType:"json",
            	 			success:function(res){
            	 				//alert(res.code);
            	 				this_.queryAll();
            	 			}
            	 		});
    	 			},
    	 			del:function(){
    	 				var this_=this;
    	 				var id=$("#shopId").val();
    	 				////alert(id);
    	 				$.ajax({
            	 			url:"[[@{/delete}]]",
            	 			type:"post",
            	 			data:{
            	 				id:id
            	 			},
            	 			dataType:"json",
            	 			success:function(res){
            	 				//alert(res.code);
            	 				this_.queryAll();
            	 			}
            	 		});
    	 			},
    	 			tj:function(){
        				this.sup={
        						companyName : "",
        						shortName : "",
        						linkman : "",
        						phone : "",
        						email : "",
        						telephone : "",
        						province : "",
        						city : "",
        						region : "",
        						street : ""
        				};
        				$('.sheng').val(this.sup.province).trigger('change');
        				$('.s').val(this.sup.city).trigger('change');
        				$('.q').val(this.sup.region).trigger('change');
        			}
    			},created:function(){
    				this.queryHeadPic();		//4.获取session中保存的登录用户的信息，更新头像
    				this.queryAll();
    			}
    		});
    	 	
    	/*  	$(function(){
    	 		////alert(2312413);
    	 		$("#tb").click(function(){
    	 			////alert(1);
        	 		
        	 		//alert(JSON.stringify(shop));
        	 		
        	 	});
    	 	}); */
    </script>
</body>

</html>
