<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon.png">
    <title>员工-竹林流沙商品管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="css/colors/blue.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link href="css/style_programmer.css" id="theme" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <div  id="ss">
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a href="a_index.html" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="b_cashier.html" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account nav_li_active">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="d_commodity.html" class="waves-effect _account">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="e_inventory.html" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="f_member.html" class="waves-effect _account">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="c_user.html" aria-haspopup="true" aria-expanded="false">
                            	<img src="assets/images/users/HeadPortrait.jpg" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
               <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/findshop}" class="waves-effect active">
                            	<i class="fa fa-twitter-square m-r-10" aria-hidden="true"></i>店铺管理
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/findposition}" class="waves-effect">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>职位权限
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/findstaff}" class="waves-effect">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>员工管理
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
               <div class="row page-titles">
                    <div class="col-md-4 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0" style="float: left;margin-right: 20px;">员工管理</h3>
                    </div>
                    <div class="col-md-8 col-4 align-self-center" style="padding-left: 30px;">
                        <select class="form-control form-control-line f_input" style="width: 130px;" id="posId">
                            <option v-for="item in pos" :value="item.posId">{{item.posName}}</option>
                            
                        </select>
                        <select class="form-control form-control-line f_input" style="width: 130px;" id="shopId">
                            <option v-for="item in shop1" :value="item.shopId">{{item.shopName}}</option>
                            
                       </select>
                        <div class="f_input" style="position: relative;">
                        	<input type="text" id="gNo" placeholder="查找" class="form-control form-control-line f_input" style="width: 170px;">
							<a href="#" class="list_search" @click="select"></a>
                        </div>
                        <!-- Button trigger modal -->
                        <a href="#" class="btn hidden-sm-down btn-info" data-toggle="modal" data-target=".bs-example-modal-lg" @click="jz">添加员工</a>
                        
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card" style="height: 420px;overflow: hidden;">
                            <div class="card-block">
                                <!--<h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6>-->
                                 <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>所属店铺</th>
                                                <th>职位</th>
                                                <th>工号</th>
                                                <th>姓名</th>
                                                <th>登录密码</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item,index in staff">
                                                <td>{{item.staffId}}</td>
                                                <td>{{item.shopName}}</td>
                                                <td>{{item.posName}}</td>
                                                <td>{{item.jobNumber}}</td>
                                                <td>{{item.staffName}}</td>
                                                <td>{{item.password}}</td>
                                                <td><a href="#" class="btn hidden-sm-down btn-info" data-toggle="modal" data-target="#update" @click="queryStaffId(item.staffId)">编辑</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Modal -->
    <!-- ============================================================== -->
	<div class="modal fade" id="update" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">编辑员工</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
					<input type="hidden" id="staffId">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">店铺：</label>&nbsp;
							<select class="form-control form-control-line" style="width: 206px;" id="shopId" v-model="employ.shopId">
                                <option v-for="item in shop1" :value="item.shopId">{{item.shopName}}</option>
                            </select>
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">职位：</label>&nbsp;
							<select class="form-control form-control-line" style="width: 206px;"  id="posId" v-model="employ.posId">
                                <option v-for="item in pos" :value="item.posId">{{item.posName}}</option>
                            </select>
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">工号：</label>&nbsp;
							<input type="email" class="form-control" v-model="employ.jobNumber"  id="jobNumber1">
	
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">姓名：</label>&nbsp;
							<input type="email" class="form-control" v-model="employ.staffName"  id="staffName1">
						</div>
	
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">密码：</label>&nbsp;
							<input type="email" class="form-control" v-model="employ.password"  id="password1">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" @click="del" data-dismiss="modal">删除</button>
					<button type="button" class="btn btn-primary" @click="update" data-dismiss="modal">修改保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade bs-example-modal-lg" id="update" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">添加员工</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">店铺：</label>&nbsp;
							<select class="form-control form-control-line shop" style="width: 206px;">
                                <option v-for="item in shop1" :value="item.shopId">{{item.shopName}}</option>
                            </select>
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">职位：</label>&nbsp;
							<select class="form-control form-control-line pos" style="width: 206px;">
                                <option v-for="item in pos" :value="item.posId">{{item.posName}}</option>
                            </select>
						</div>
	
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">工号：</label>&nbsp;
							<input type="email" class="form-control" id="jobNumber">
	
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">姓名：</label>&nbsp;
							<input type="email" class="form-control" id="staffName">
						</div>
	
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">密码：</label>&nbsp;
							<input type="email" class="form-control" id="password">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" @click="insertStaff">新增</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	</div>
    <!-- ============================================================== -->
    <!-- End Modal -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript - 比3和4 多以下三个js引入 -->
    <script src="assets/plugins/flot/jquery.flot.js"></script>
    <script src="assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    
</body>
<script th:src="@{/js/vue.js}"></script>
	<script>
			var vu=new Vue({
				el:"#ss",
				data(){
					return {
						staff:[],
						employ:{},
						pos:[],
						shop1:[]
					}
				},methods:{
					queryAll:function(){
						var this_=this;
						$.ajax({
							url:"[[@{/query}]]",
							type:"get",
							success:function(res){
								this_.staff=res
							}
						});
					},
					queryStaffId:function(id){
						var this_=this;
						$.ajax({
							url:"[[@{/queryStaffId}]]",
							type:"post",
							data:{
								id:id
							},
							success:function(res){
								this_.employ=res;
								$("#staffId").val(this_.employ.staffId);
								this_.queryShop();
								this_.queryPosition();
							}
						});
					},
					queryShop:function(){
						var this_=this;
						$.ajax({
							url:"[[@{/queryShop}]]",
							type:"get",
							success:function(res){
								this_.shop1=res;
							}
						});
					},
					queryPosition:function(){
						var this_=this;
						$.ajax({
							url:"[[@{/queryPos}]]",
							type:"get",
							success:function(res){
								this_.pos=res;
							}
						});
					},
					del:function(){
						var this_=this;
						var id=$("#staffId").val();
						$.ajax({
            	 			url:"[[@{/delete}]]",
            	 			type:"post",
            	 			data:{
            	 				id:id
            	 			},
            	 			dataType:"json",
            	 			success:function(res){
            	 				alert(res.code);
            	 				this_.queryAll();
            	 			}
            	 		});
					},
					insertStaff:function(){
						var obj={
								shopId:$(".shop").val(),
								posId:$(".pos").val(),
								jobNumber:$("#jobNumber").val(),
								password:$("#password").val(),
								staffName:$("#staffName").val()
						};
						alert(JSON.stringify(obj));
						$.ajax({
							url:"[[@{/insertStaff}]]",
							type:"post",
							data:JSON.stringify(obj),
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							success:function(res){
								alert(res.code);
								this_.queryAll();
							}
						});
						
					}
					,update:function(){
						var this_=this;
						var obj={
								shopId:$("#shopId").val(),
								posId:$("#posId").val(),
								jobNumber:$("#jobNumber1").val(),
								password:$("#password1").val(),
								staffName:$("#staffName1").val(),
								staffId:$("#staffId").val()
						};
						alert(JSON.stringify(obj));
						$.ajax({
							url:"[[@{/updateStaff}]]",
							type:"post",
							data:JSON.stringify(obj),
							contentType:"application/json;charset=utf-8",
							dataType:"json",
							success:function(res){
								alert(res.code);
								this_.queryAll();
							}
						});
					},
					select:function(){
						var this_=this;
						$.ajax({
							url:"[[@{/querySandP}]]",
							type:"get",
							data:{
								jobNumber:$("#gNo").val(),
								shopId:$("#shopId").val(),
								posId:$("#posId").val()
							},
							success:function(res){
								//alert(res);
								this_.staff=res;
							}
							
						});
					},
					jz:function(){
						var this_=this;
						this_.queryShop();
						this_.queryPosition();
					}
				},created:function(){
					this.queryAll();
					this.queryShop();
					this.queryPosition();
				}
			});
	
	</script>
</html>
