<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>用户-竹林流沙商品管理系统</title>
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet">
    <link th:href="@{/css/style_programmer.css}" id="theme" rel="stylesheet">
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="user">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/statistics/toPage}">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a th:href="@{/statistics/toPage}" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/Bcashier/toBcashier}" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/commoditytypes/toPage}" class="waves-effect _account">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/inventory/toPage}" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/MemberManage/toMember}"  class="waves-effect _account">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" th:href="@{/finduser}" aria-haspopup="true" aria-expanded="false">
                            	<img v-bind:src="'/head/' + session.headPortraitPath" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/statistics/toPage}" class="waves-effect">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/Bcashier/toBcashier}" class="waves-effect">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/findshop}"  class="waves-effect">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/commoditytypes/toPage}" class="waves-effect">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/inventory/toPage}" class="waves-effect">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/MemberManage/toMember}" class="waves-effect">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid" style="height: 490px;overflow: hidden;">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Row -->
                <div class="row">
                    <!-- Column -->
                    <div class="col-lg-4 col-xlg-3 col-md-5">
                        <div class="card">
                          	<form class="form-horizontal" name="form" method="post" enctype="multipart/form-data">
								<center class="m-t-30"> 
									<div class="card-block">
										<img src class="img-circle" width="150" />
									</div>
									
									<a href="javascript:;" style="background: none repeat scroll 0 0 #FFFFFF; color: #9e9e9e; 
									 display: block; height: 32px; line-height: 32px; 
									 text-align: center; width: 220px; opacity: 0.8;">上传头像 </a> 
									
									<input type="file" name="file" style="display: block; width: 156px; height: 150px; 
									 opacity: 0; position: absolute; top: 50px; left: 90px; cursor: pointer;" id="ajaxfile"/>
								</center>
						 	</form>
                        </div>
                    </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="col-lg-8 col-xlg-9 col-md-7">
                        <div class="card">
                            <div class="card-block">
                            <input type="hidden" v-model="session.staffId" id="id">
                                <form class="form-horizontal form-material">
                                    <div class="form-group">
                                        <label class="col-md-12">账号：</label>
                                        <div class="col-md-12">
                                            <input type="text" v-model="session.jobNumber" placeholder="userName" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">手机：</label>
                                        <div class="col-md-12">
                                            <input type="text"  v-model="session.phone"  placeholder="123 4567 8901" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="example-email" class="col-md-12">行业：</label>
                                        <div class="col-md-12">
                                            <input type="text" placeholder="user@admin.com" v-model="session.trade" class="form-control form-control-line" name="example-email" id="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">密码：</label>
                                        <div class="col-md-12">
                                            <input type="password" placeholder="userPwd"  v-model="session.password"  class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                        	<input type="button" class="btn btn-success" @click="updateUser" value="更新账户信息">&nbsp;&nbsp;&nbsp;
                                        	<input type="button" class="btn btn-danger" @click="loginOut" value="退出登录">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
                <!-- Row -->
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/waves.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/assets/plugins/flot/jquery.flot.js}"></script>
    <script th:src="@{/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/js/flot-data.js}"></script>
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
    
    <script th:src="@{/js/vue.js}"></script>
</body>
	<script>
		$(function(){
			//1. a标签上传图片点击
			$(".form-horizontal a").on("click", function(){
				document.getElementById("ajaxfile").click();
			});
			
			//Ajax图片上传
			$("#ajaxfile").change(function(){
				var formData = new FormData($("[name=form]")[0]);
				var id = $("#id").val();
				formData.append("id", id);
				$.ajax({
					url:"[[@{/upload}]]",
					type:"post",
					data:formData,
					mimeType:"multipart/form-data",
					processData:false,
					contentType:false,
					success:function(res){
						//alert(res);
						
						if (res != "break") {
							$(".img-circle").attr("src", "/head/" + res);
							//$(".profile-pic").attr("src", res);
							
							vv.session.headPortraitPath = res;
						} else if (res == "break") {
							alert("修改失败，请重试！");
						}
					}
				});
			});
			
		});
		
		var vv = new Vue({
			el : "#user",
			data(){
				return {
					session : {
						headPortraitPath : "default.png"
					}
				};
			},methods:{
				querySession:function(){
					var this_=this;
					$.ajax({
						url:"[[@{/session}]]",
						type:"get",
						success:function(res){
							this_.session=res;
							//alert(JSON.stringify(this_.session));
							$(".img-circle").attr("src", "/head/" + this_.session.headPortraitPath);
							//$(".profile-pic").attr("src", "/head/" + this_.session.headPortraitPath);
						}
					});
				},
				updateUser:function(){
					//alert(1);
					var this_=this;
					var obj=this_.session;
					//alert(JSON.stringify(obj));
					$.ajax({
						url:"[[@{/updateUser}]]",
						type:"post",
						data:JSON.stringify(obj),
						contentType:"application/json;charset=utf-8",
						dataType:"json",
						success:function(res){
							//alert(res.code);
							this_.querySession();
						}
					});
				},
				loginOut : function(){
					$.get("[[@{/loginOut}]]",{},function(res){
						if(res.staffId == "0"){
							//alert("退出登录成功，将跳转页面");
							location.href="/find";
						}
					}, "json");
				}
			},
			created:function(){
				this.querySession();
			}
		});
	
	</script>
</html>
