<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>商品类别-商品-竹林流沙商品管理系统</title>
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet">
    <link th:href="@{/css/style_programmer.css}" id="theme" rel="stylesheet">
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/statistics/toPage}">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                     <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a th:href="@{/statistics/toPage}" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/Bcashier/toBcashier}" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/commoditytypes/toPage}" class="waves-effect _account nav_li_active">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/inventory/toPage}" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/MemberManage/toMember}"  class="waves-effect _account">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" th:href="@{/finduser}" aria-haspopup="true" aria-expanded="false">
                            	<img src="/assets/images/users/HeadPortrait.jpg" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                 <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/commoditytypes/toPage}" class="waves-effect active">
                            	<i class="fa fa-eercast m-r-10" aria-hidden="true"></i>商品类别
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/commodityManager/toPage}" class="waves-effect">
                            	<i class="fa fa-cogs m-r-10" aria-hidden="true"></i>商品管理
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/commodityManager/toUploadingPage}+'?cmId=0'" class="waves-effect">
                            	<i class="fa fa-sign-in m-r-10" aria-hidden="true"></i>商品上传
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/supplier/toSupplier}" class="waves-effect">
                            	<i class="fa fa-smile-o m-r-10" aria-hidden="true"></i>供应商
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/po/toCommodityMD}" class="waves-effect">
                            	<i class="fa fa-exchange m-r-10" aria-hidden="true"></i>采购单
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0" style="float: left;margin-right: 20px;">商品类别</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center" style="padding-left: 60px;">
                        <a href="#" class="btn pull-right hidden-sm-down btn-info" id="toInsert" data-toggle="modal" data-target=".bs-example-modal-sm">添加类别</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="text-center">序号</th>
                                                <th class="text-center">名称</th>
                                                <th class="text-center">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="ct in ctList" class="text-center">
                                                <td>{{ct.ctId}}</td>
                                                <td>{{ct.ctName}}</td>
                                                <td>
                                                	<a href="javascript:void(0);" @click="toUpdateCT(ct.ctId)">修改</a>&nbsp;&nbsp;
                                                	<a href="javascript:void(0);" @click="deleteCT(ct.ctId)">删除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
	    <!-- ============================================================== -->
	    <!-- Start Modal -->
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  		<div class="modal-dialog modal-sm">
	    		<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">添加类别</h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<div class="modal-body">
						<form class="form-inline">
							<div class="form-group" style="position: relative;">
								<label for="exampleInputName2">名称：</label>&nbsp;
								<input type="hidden" v-model="ct.ctId">
								<input type="text" class="form-control" v-model="ct.ctName" placeholder="请输入类别名称">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" id="insertCT" @click="insertCT">新增</button>
						<button type="button" class="btn btn-primary" id="updateCT" @click="updateCT">修改</button>
						<button type="button" class="btn btn-default" id="cancel" data-dismiss="modal">取消</button>
					</div>
				</div>
			</div>
		</div>
	    <!-- End Modal -->
	    <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/waves.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/assets/plugins/flot/jquery.flot.js}"></script>
    <script th:src="@{/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/js/flot-data.js}"></script>
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
    
    <script th:src="@{/js/vue.js}"></script>
    <script type="text/javascript">
    	$(function(){
    		//新增类别点击事件
    		$("#toInsert").on("click", function(){
    			vue.ct.ctName = "";
				$("#insertCT").show().next().hide();
    			
    			//alert(vue.ct.ctName);	  ↑	点击新增，每次将vue的对象ct数据调为空
    		});
    		
    	});
    
    	//VUE
    	var vue = new Vue({
			el:"#main-wrapper",
			data(){
				return {
					ctList:[],
					ct:{
						ctId : 0,
						ctName : ""
					}
				};
			},methods:{
				queryHeadPic : function(){
					//1.Ajax查询后台 获得session后的值
					$.ajax({
						url:"[[@{/session}]]",
						type:"get",
						dataType : "json",
						success:function(res){
							//alert(JSON.stringify(res));
							$(".profile-pic").attr("src", "/head/" + res.headPortraitPath);
						}
					});
				},
				queryAll:function(){
	 				var this_ = this;
	 				$.ajax({
	 					url:"[[@{/commoditytypes/ct}]]",
	 					dataType:"json",
	 					type:"get",
	 					success:function(result){
	 						this_.ctList = result;
	 					}
	 				});
				},
				insertCT : function(){
	 				var this_ = this;
					let ct = this_.ct;
 					$.ajax({
 						url:"[[@{/commoditytypes/ct}]]",
 						data:ct,
 						type:"post",
	 					dataType:"json",
 						success:function(result){
 							if(result.code = "200"){
 								this_.queryAll();
 	 							document.getElementById("cancel").click();
 							} else {
 								alert(result.message);
 							}
 						}
 					});
				},
				deleteCT : function(ctId){
					if(!confirm("确定删除id为" + ctId + "的商品类别吗？")) return false;
					
	 				var this_ = this;
 					$.ajax({
 						url:"[[@{/commoditytypes/ct}]]",
 						data:{
 							ctId : ctId
 						},
 						type:"delete",
	 					dataType:"json",
 						success:function(result){
 							if(result.code = "200"){
 								//天知道
 								this_.queryAll();
 							} else {
 								alert(result.message);
 							}
 						}
 					});
				},
				toUpdateCT : function(ctId){
	 				var this_ = this;
	 				//alert(ctId);	data传非对象，加大括号
 					$.ajax({
 						url:"[[@{/commoditytypes/queryCT}]]",
 						data:{
 							ctId : ctId
 						},
 						type:"get",
	 					dataType:"json",
 						success:function(result){
 							document.getElementById("toInsert").click();
 							
 							this_.ct = result;
 							$("#insertCT").hide().next().show();
 			    			//alert(vue.ct.ctName);		点击修改，显示信息到模态框，判断顺序在后面
 						}
 					});
				},
				updateCT : function(){
	 				var this_ = this;
					let ct = this_.ct;
 					$.ajax({
 						url:"[[@{/commoditytypes/ct}]]",
 						data:ct,
 						type:"put",
	 					dataType:"json",
 						success:function(result){
 							if(result.code = "200"){
 								this_.queryAll();
 	 							document.getElementById("cancel").click();
 							} else {
 								alert(result.message);
 							}
 						}
 					});
				}
			},
			created:function(){
				this.queryHeadPic();
				this.queryAll();
			}
		});
	</script>
</body>

</html>
