<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>供应商-商品-竹林流沙商品管理系统</title>
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet">
    <link th:href="@{/css/style_programmer.css}" id="theme" rel="stylesheet">
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="supper">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/commoditytypes/toPage}" class="waves-effect _account nav_li_active">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" th:href="@{/finduser}" aria-haspopup="true" aria-expanded="false">
                            	<img src="/assets/images/users/HeadPortrait.jpg" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/commoditytypes/toPage}" class="waves-effect">
                            	<i class="fa fa-eercast m-r-10" aria-hidden="true"></i>商品类别
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/commodityManager/toPage}" class="waves-effect">
                            	<i class="fa fa-cogs m-r-10" aria-hidden="true"></i>商品管理
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/}" class="waves-effect">
                            	<i class="fa fa-sign-in m-r-10" aria-hidden="true"></i>商品上传
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/supplier/toSupplier}" class="waves-effect active">
                            	<i class="fa fa-smile-o m-r-10" aria-hidden="true"></i>供应商
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/}" class="waves-effect">
                            	<i class="fa fa-exchange m-r-10" aria-hidden="true"></i>采购单
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-3 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">供应商</h3>
                    </div>
                    
                    <div class="col-md-9 col-4 align-self-center form-inline">
                        <div class="form-group f_input" data-toggle="distpicker" style="margin-right: 4px;">
							<label for="exampleInputName2">地区：</label>&nbsp;
							<select class="form-control form-control-line shen" id="province1"></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line shi"  id="city1"></select>
						</div>
                        
                        <div class="form-group f_input" style="margin-right: 4px;position: relative;">
                        	<input type="text" placeholder="查找" id="gName" class="form-control form-control-line f_input" style="width: 170px;">
							<a href="javascript:;" @click="query" class="list_search"></a>
                        </div>
                        
                        <!-- Button trigger modal -->
                        <a href="#" class="btn hidden-sm-down btn-info form-group" data-toggle="modal" data-target=".bs-example-modal-lg" @click="tj">添加供应商</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card" style="height: 420px;overflow: hidden;">
                            <div class="card-block">
                                <!--<h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>简称</th>
                                                <th>公司名称</th>
                                                <th>联系人</th>
                                                <th>手机</th>
                                                <th>电话</th>
                                                <th>邮箱</th>
                                                <th>地区</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in supplier.list">
                                                <td>{{item.supId}}</td>
                                                <td>{{item.shortName}}</td>
                                                <td>{{item.companyName}}</td>
                                                <td>{{item.linkman}}</td>
                                                <td>{{item.phone}}</td>
                                                <td>{{item.telephone}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.province}}{{item.city}}{{item.region}}{{item.street}}</td>
                                                <td>
                                                	<a class="btn delBtn" href="javascript:void(0);" @click="del(item.supId)">删除</a>
                                                	<a class="btn editBtn" href="javascript:void(0);" data-toggle="modal" data-target=".update" @click="querySupplier(item.supId)">修改</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                        	<tr>
                                        		<td colspan="10" class="text-right">
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="goFirstPage">首页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="goPrePage">上一页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="goNextPage">下一页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="goLastPage">尾页</a>
                                        		</td>
                                        	</tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Modal -->
    <!-- ============================================================== -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">添加供应商</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">公司名称：</label>&nbsp;
							<input type="text" class="form-control" v-model="sup.companyName" placeholder="请输入公司名称">
						</div>
						<div class="form-group col-md-6" style="position: relative;">
							<span class="span_bitian">*</span>
							<label for="exampleInputEmail2">公司简称：</label>&nbsp;
							<input type="email" class="form-control" v-model="sup.shortName"  placeholder="请输入公司简称">
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">联&nbsp;系&nbsp;人&nbsp;：&nbsp;</label>&nbsp;
							<input type="email" class="form-control" v-model="sup.linkman"  placeholder="请输入联系人">
						</div>
						<div class="form-group col-md-6" style="position: relative;">
							<span class="span_bitian">*</span>
							<label for="exampleInputEmail2">&nbsp;&nbsp;手&nbsp;&nbsp;机&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" v-model="sup.phone"  placeholder="请输入手机号">
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">&nbsp;&nbsp;邮&nbsp;&nbsp;箱&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" v-model="sup.email"  placeholder="请输入邮箱">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">&nbsp;&nbsp;电&nbsp;&nbsp;话&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" v-model="sup.telephone"  placeholder="请输入电话">
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11" data-toggle="distpicker">
							<label>&nbsp;&nbsp;地&nbsp;&nbsp;址&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<select class="form-control form-control-line sheng" v-model="sup.province" id="province1"></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line s" v-model="sup.city" id="city1"></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line q" v-model="sup.region" id="district1"></select>
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputEmail2">&nbsp;&nbsp;街&nbsp;&nbsp;道&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control col-md-6" v-model="sup.street"  placeholder="请输入街道/详细地址">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" @click="insertSupplier">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade update" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">编辑供应商</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<input type="hidden" id="supId">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">公司名称：</label>&nbsp;
							<input type="text" class="form-control" id="companyName" placeholder="请输入公司名称">
						</div>
						<div class="form-group col-md-6" style="position: relative;">
							<span class="span_bitian">*</span>
							<label for="exampleInputEmail2">公司简称：</label>&nbsp;
							<input type="email" class="form-control" id="shortName"  placeholder="请输入公司简称">
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">联&nbsp;系&nbsp;人&nbsp;：&nbsp;</label>&nbsp;
							<input type="email" class="form-control" id="linkman"    placeholder="请输入联系人">
						</div>
						<div class="form-group col-md-6" style="position: relative;">
							<span class="span_bitian">*</span>
							<label for="exampleInputEmail2">&nbsp;&nbsp;手&nbsp;&nbsp;机&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" id="phone"   placeholder="请输入手机号">
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">&nbsp;&nbsp;邮&nbsp;&nbsp;箱&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" id="email"   placeholder="请输入邮箱">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">&nbsp;&nbsp;电&nbsp;&nbsp;话&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control" id="telephone"    placeholder="请输入电话">
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11" data-toggle="distpicker">
							<label>&nbsp;&nbsp;地&nbsp;&nbsp;址&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<select class="form-control form-control-line province"  id="province1"></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line city"   id="city1"></select>&nbsp;-&nbsp;
							<select class="form-control form-control-line region"   id="district1"></select>
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputEmail2">&nbsp;&nbsp;街&nbsp;&nbsp;道&nbsp;&nbsp;：&nbsp;&nbsp;</label>&nbsp;
							<input type="email" class="form-control col-md-6" id="stree"  placeholder="请输入街道/详细地址">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" data-dismiss="modal" @click="updateSupplier">修改保存</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	</div>
    <!-- ============================================================== -->
    <!-- End Modal -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/waves.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/assets/plugins/flot/jquery.flot.js}"></script>
    <script th:src="@{/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/js/flot-data.js}"></script>
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
    <script th:src="@{/assets/plugins/address/distpicker.data.min.js}"></script>
  	<script th:src="@{/assets/plugins/address/distpicker.min.js}"></script>
  	<script th:src="@{/assets/plugins/address/main.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script type="text/javascript">
    	$(function(){
    		$('.shen').val(null).trigger('change');
			$('.shi').val(null).trigger('change');
    	});
    	var sup=new Vue({
    		el:"#supper",
    		data(){
    			return {
    				supplier:{},
    				sup:{},
    				supp:{}
    			};
    		},methods:{
    			goPage:function(pageNum){
    				var this_=this;
    				var su={
    						pageNum:pageNum,
    						province:$(".shen").val(),
    						city:$(".shi").val(),
    						companyNname:$("#gName").val()
    				};
    				$.ajax({
    					url:"[[@{/supplier/goPage}]]",
    					type:"post",
    					data:JSON.stringify(su),
    					contentType:"application/json;charset=utf-8",
    					dataType:"json",
    					success:function(res){
    						this_.supplier=res;
    					}
    				});
    			},
    			goPrePage:function(){
    				if(this.supplier.hasPreviousPage){
        				this.goPage(this.supplier.prePage)
        				//alert(this.supplier.hasPreviousPage + " - " + this.supplier.prePage);
    				}
    			},
    			goNextPage:function(){
    				if(this.supplier.hasNextPage){
        				this.goPage(this.supplier.nextPage)
    				}
    			},
    			goFirstPage:function(){
    				this.goPage(1)
    			},
    			goLastPage:function(){
    				this.goPage(this.supplier.pages)
    			},
    			del:function(id){
    				var this_=this;
    				$.ajax({
    					url:"[[@{/supplier/deleteSupplier}]]",
    					type:"post",
    					data:{
    						id:id
    					},
    					dataType:"json",
    					success:function(res){
    						if(res.code == 200){
        						this_.goPage(this_.supplier.pageNum);
        						return false;
    						}
    						alert(res.message);
    					}
    				});
    			},
    			insertSupplier:function(){
    				
    				var this_=this;
    				$.ajax({
    					url:"[[@{/supplier/insertSupplier}]]",
    					type:"post",
    					data:this_.sup,
    					dataType:"json",
    					success:function(res){
    						alert(res.code);
    						this_.goPage(1);
    						this_.sup="";
    					}
    				});
    			},
    			querySupplier:function(id){
    				var that=this;
    				$.ajax({
    					url:"[[@{/supplier/querySupplier}]]",
    					type:"get",
    					data:{
    						supId:id
    					},
    					dataType:"json",
    					success:function(res){
    						that.supp=res;
    						$("#supId").val(that.supp.supId);
    						$("#companyName").val(that.supp.companyName);
    						$("#shortName").val(that.supp.shortName);
    						$("#linkman").val(that.supp.linkman);
    						$("#phone").val(that.supp.phone);
    						$("#telephone").val(that.supp.telephone);
    						$("#email").val(that.supp.email);
    						$("#stree").val(that.supp.street);
    						$(".province").val(that.supp.province).trigger('change');
    						$(".region").val(that.supp.region).trigger('change');
    						$(".city").val(that.supp.city).trigger('change');
    					}
    					
    				});
    			},
    			updateSupplier:function(){
    				var this_=this;
    				var obj={
    						supId:$("#supId").val(),
    						companyName:$("#companyName").val(),
    						linkman:$("#linkman").val(),
    						shortName:$("#shortName").val(),
    						phone:$("#phone").val(),
    						telephone:$("#telephone").val(),
    						email:$("#email").val(),
    						street:$("#stree").val(),
    						province:$(".province").val(),
    						region:$(".region").val(),
    						city:$(".city").val()
    				};
    				$.ajax({
    					url:"[[@{/supplier/updateSupplier}]]",
    					type:"post",
    					data:JSON.stringify(obj),
    					dataType:"json",
    					contentType:"application/json;charset=utf-8",
    					success:function(res){
    						alert(res.code);
    						this_.goPage(1);
    					}
    				});
    			},
    			tj:function(){
    				this.sup={
    						companyName : "",
    						shortName : "",
    						linkman : "",
    						phone : "",
    						email : "",
    						telephone : "",
    						province : "",
    						city : "",
    						region : "",
    						street : ""
    				};
    				$('.sheng').val(this.sup.province).trigger('change');
    				$('.s').val(this.sup.city).trigger('change');
    				$('.q').val(this.sup.region).trigger('change');
    			},
    			query:function(){
    				this.goPage(1);
    			}
    		},
    		created:function(){
    			this.goPage(1);
    		}
    	});
	</script>
</body>

</html>
