<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>新建采购单-采购单-商品-竹林流沙商品管理系统</title>
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet">
    <link th:href="@{/css/style_programmer.css}" id="theme" rel="stylesheet">
</head>
<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="poinsert">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/commoditytypes/toPage}" class="waves-effect _account nav_li_active">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/}" class="waves-effect _account">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" th:href="@{/finduser}" aria-haspopup="true" aria-expanded="false">
                            	<img src="/assets/images/users/HeadPortrait.jpg" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a th:href="@{/commoditytypes/toPage}" class="waves-effect">
                            	<i class="fa fa-eercast m-r-10" aria-hidden="true"></i>商品类别
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/commodityManager/toPage}" class="waves-effect">
                            	<i class="fa fa-cogs m-r-10" aria-hidden="true"></i>商品管理
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/}" class="waves-effect">
                            	<i class="fa fa-sign-in m-r-10" aria-hidden="true"></i>商品上传
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/}" class="waves-effect">
                            	<i class="fa fa-smile-o m-r-10" aria-hidden="true"></i>供应商
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/}" class="waves-effect active">
                            	<i class="fa fa-exchange m-r-10" aria-hidden="true"></i>采购单
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-3 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0" style="float: left;margin-right: 20px;">新建采购单</h3>
                    </div>
                    
                    <div class="col-md-9 col-4 align-self-center" style="padding-left: 5px;">
                        <div class="f_input pull-right" style="position: relative;">
                        	<input type="text" placeholder="请输入货号或条码+回车 确认" class="form-control form-control-line f_input" style="width: 270px;">
							<a href="javascript:;" class="list_search"></a>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <form class="form-horizontal form-material form-inline">
                                    <div class="form-group col-md-3">
                                        <label>单号：</label>
                                        <div>
                                            <input type="text" placeholder="Johnathan Doe"  id="billno"  class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>交期：</label>
                                        <div>
                                            <input type="date" placeholder="johnathan@admin.com" v-model="time" @change="chang" id="billdate" class="form-control form-control-line" name="example-email">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3" style="padding: 0 5px;">
                                        <label>供应商：</label>
                                        <div>
                                            <input type="text" placeholder="123 456 7890" class="form-control form-control-line">
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>制表人：</label>
                                        <div>
                                            <select class="form-control form-control-line">
                                                <option>London</option>
                                                <option>India</option>
                                                <option>Usa</option>
                                                <option>Canada</option>
                                                <option>Thailand</option>
                                            </select>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group col-md-12">
                                        <label>备注：</label>
                                        <div>
                                            <input type="text" placeholder="123 456 7890" class="form-control form-control-line" style="width: 750px;">
                                        </div>
                                    </div>
                                </form>
                                
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>货号</th>
                                                <th>条码</th>
                                                <th>产品名称</th>
                                                <th>规格</th>
                                                <th>成本价</th>
                                                <th>数量</th>
                                                <th>金额</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Deshmukh</td>
                                                <td>Gaylord</td>
                                                <td>@Ritesh</td>
                                                <td>@Ritesh</td>
                                                 <td>Gaylord</td>
                                                <td>@Ritesh</td>
                                                <td>@Ritesh</td>
                                                <td>
                                                	<a class="btn delBtn" href="javascript:void(0);">删除</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-10 pull-left">
                        				<a href="javascript:void(0);" class="btn hidden-sm-down btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">+添加商品</a>
                                    </div>
                                    <div class="col-sm-2 pull-right">
                                        <button class="btn btn-default">清空</button>
                                        <button class="btn btn-success">提交</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Modal -->
    <!-- ============================================================== -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">选择商品</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                        	<tr>
                                        		<th colspan="6">
						                    		<button class="btn btn-success ctName"  @click="cli('全部')">全部</button>
						                    		<span id="list_type">
						                    			<button class="btn btn-default ctName" @click="cli('羽绒服')">羽绒服</button>
							                    		<button class="btn btn-default ctName" @click="cli('双面羊绒大衣')">双面羊绒大衣</button>
							                    		<button class="btn btn-default ctName" @click="cli('打底')">打底</button>
							                    		<button class="btn btn-default ctName" @click="cli('衬衣')">衬衣</button>
							                    		<button class="btn btn-default ctName" @click="cli('毛衣')">毛衣</button>
							                    		<button class="btn btn-default ctName" @click="cli('卫衣')">卫衣</button>
							                    		<button class="btn btn-default ctName" @click="cli('背带')">背带</button>
							                    		<button class="btn btn-default ctName" @click="cli('短裤')">短裤</button>
							                    		<button class="btn btn-default ctName" @click="cli('饰品')">饰品</button>
							                    		<button class="btn btn-default ctName" @click="cli('半身裙')">半身裙</button>
						                    		</span>
                                        		</th>
                                        	</tr>
                                            <tr>
                                                <th>选择</th>
                                                <th>货号/条码</th>
                                                <th>商品</th>
                                                <th>规格</th>
                                                <th>单价</th>
                                                <th>库存</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in poinsert.list">
                                                <td><input type="checkbox"   v-model="checkList" :value="item.cdId"></td>
                                                <td>{{item.articleNo}}/{{item.barCode}}</td>
                                                <td>{{item.cmName}}</td>
                                                <td>{{item.color}}-{{item.sizeName}}</td>
                                                <td>{{item.salePrice}}</td>
                                                <td>{{item.quantity}}</td>
                                               
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                        	<tr>
                                        		<td>
                                        			<input type="checkbox"  @click="checkAll" v-model="checked" />全选
                                        		</td>
                                        		<td colspan="5" class="text-right">
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="goFirstPage">首页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="goPrePage">上一页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="goNextPage">下一页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="goLastPage">尾页</a>
                                        		</td>
                                        	</tr>
                                        </tfoot>
                                    </table>
                                </div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="chec">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	</div>
    <!-- ============================================================== -->
    <!-- End Modal -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/assets/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/tether.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <script th:src="@{/js/waves.js}"></script>
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <script th:src="@{/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <script th:src="@{/js/custom.min.js}"></script>
    <script th:src="@{/assets/plugins/flot/jquery.flot.js}"></script>
    <script th:src="@{/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js}"></script>
    <script th:src="@{/js/flot-data.js}"></script>
    <script th:src="@{/assets/plugins/styleswitcher/jQuery.style.switcher.js}"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script type="text/javascript">
    	var vue=new Vue({
    		el:"#poinsert",
    		data(){
    			return {
    				poinsert:[],
    			　	checked : false, 		//是否全选
			　　　　	checkList : [], 		//双向数据绑定的数组，此处用的id
			    	time:""
    			}
    		},
    		watch : {
			　　	checkList : function(){
   		　			if(this.checkList.length == this.poinsert.list.length){
			　　　　　　	this.checked = true;
			　　　　	}else{
			　　　　　　	this.checked = false;
			　　　　	}
			　　	}
			},methods:{
				checkAll : function(){
	   		　　		if(this.checked){
	   		　　　　　　	this.checkList = [];
	   		　　　　	}else{
	   		　　　　　　	this.poinsert.list.forEach((item)=>{
		   		　　　　　　	if(this.checkList.indexOf(item.cdId) == -1){
		   		　　　　　　　　	this.checkList.push(item.cdId);
		   		　　　　　　	}
	   		　　　　　　	});
	   		　　　　	}
	   		　	},
    			goPage:function(dqy){
    				var that=this;
    				var obj={
    						pageNum:dqy,
    						cmName:""
    				};
    				//alert(JSON.stringify(obj));
    				$.ajax({
						url:"[[@{/po/queryCommodityMain}]]",
						type:"post",
						data:JSON.stringify(obj),
						contentType:"application/json;charset=utf-8",
						dataType:"json",
						success:function(res){
							that.poinsert=res;
							//alert(JSON.stringify(that.poinsert));
						}
						
					});
    			},
    			cli:function(ctName,dqy){
    				if(ctName=="全部"){
    					ctName="";
    				}
    				//alert(ctName);
    				var that=this;
    				var obj={
    						pageNum:1,
    						cmName:ctName
    				};
    				//alert(JSON.stringify(obj));
    				$.ajax({
						url:"[[@{/po/queryCommodityMain}]]",
						type:"post",
						data:JSON.stringify(obj),
						contentType:"application/json;charset=utf-8",
						dataType:"json",
						success:function(res){
							that.poinsert=res;
						}
						
					});
    			},
    			goPrePage:function(){
    				if(this.poinsert.hasPreviousPage){
        				this.goPage(this.poinsert.prePage)
        				//alert(this.po.hasPreviousPage + " - " + this.po.prePage);
    				}
    			},
    			goNextPage:function(){
    				if(this.poinsert.hasNextPage){
        				this.goPage(this.poinsert.nextPage);
    				}
    			},
    			goFirstPage:function(){
    				this.goPage(1);
    			},
    			goLastPage:function(){
    				this.goPage(this.poinsert.pages);
    			},
    			chec:function(){
    				alert(1);
    			},
    			chang:function(){
    				var that=this;
    				var da=$("#billdate").val();
    				var nian=da.substring(0,4);
    				var yue=da.substring(5,7);
    				var ri=da.substring(8,10);
    				date=nian + yue +ri;
    				$.ajax({
						url:"queryCountBill",
						type:"get",
						data:{
							pmOdd:date
						},
						dateType:"json",
						success:function(res){
							$("#billno").val(res.no);
						}
					});
    			}
    		},created:function(){
    			this.goPage(1);
    			var now=new Date();
				var year=now.getFullYear();
				var month=now.getMonth()+1;
				var date=now.getDate();
				this.time=year+"-"+month+"-"+date;
				var obj={
						year+month+date
				};
				$.ajax({
					url:"queryCountBill",
					type:"get",
					data:{
						pmOdd:obj
					},
					dataType:"json",
					success:function(res){
						$("#billno").val(res.no);
					}
				});
				
    		}
    	});
    </script>
</body>

</html>
