<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>充值抵扣-会员-竹林流沙商品管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link href="/css/style_programmer.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="etc">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/statistics/toPage}">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a th:href="@{/statistics/toPage}" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/Bcashier/toBcashier}" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/findshop}" class="waves-effect _account">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/commoditytypes/toPage}" class="waves-effect _account">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/inventory/toPage}" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a th:href="@{/MemberManage/toMember}"  class="waves-effect _account nav_li_active">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" th:href="@{/finduser}" aria-haspopup="true" aria-expanded="false">
                            	<img src="/assets/images/users/HeadPortrait.jpg" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a @click="toMember" class="waves-effect">
                            	<i class="fa fa-users m-r-10" aria-hidden="true"></i>会员信息
                            </a>
                        </li>
                        <li>
                            <a @click="toLevel" class="waves-effect">
                            	<i class="fa fa-cogs m-r-10" aria-hidden="true"></i>等级设置
                            </a>
                        </li>
                        <li>
                            <a @click="toCredits" class="waves-effect">
                            	<i class="fa fa-cog m-r-10" aria-hidden="true"></i>积分设置
                            </a>
                        </li>
                        <li>
                            <a @click="toRecharge" class="waves-effect active">
                            	<i class="fa fa-building m-r-10" aria-hidden="true"></i>充值抵扣
                            </a>
                        </li>
                        <li>
                            <a @click="toMake" class="waves-effect">
                            	<i class="fa fa-barcode m-r-10" aria-hidden="true"></i>成交记录
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0" style="float: left;margin-right: 20px;">充值抵扣</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center" style="padding-left: 60px;">
                        <div class="form-control form-control-line f_input" style="width: 200px;">
                            <input type="date" name="" id="sj" @change="gb"/>
                        </div>
                        
                        <div class="f_input" style="position: relative;">
                        	<input type="text" placeholder="查找" class="form-control form-control-line f_input" style="width: 170px;" id="mz">
							<a href="javascript:;" class="list_search" @click="dj"></a>
                        </div>
                        
                        
                        <!-- Button trigger modal -->
                        <a href="#" class="btn hidden-sm-down btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">充值</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card" style="height: 420px;overflow: hidden;">
                            <div class="card-block">
                                <!--<h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>时间</th>
                                                <th>微信号</th>
                                                <th>姓名</th>
                                                <th>手机</th>
                                                <th>充值</th>
                                                <th>赠送</th>
                                                <th>消费</th>
                                                <th>余额</th>
                                                <th>备注</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item,index in PageList.list">
                                                <td>{{item.rrId}}</td>
                                                <td>{{item.createTime}}</td>
                                                <td>{{item.wechatNum}}</td>
                                                <td>{{item.memberName}}</td>
                                                <td>{{item.phoen}}</td>
                                                <td>{{item.rechargeMoney}}</td>
                                                <td>{{item.presentIntegral}}</td>
                                                <td>{{item.xf}}</td>
                                                <td>{{item.presentBalance}}</td>
                                                <td>{{item.remark}}</td>
                                            </tr>
                                            
                                        </tbody>
                                        <tfoot>
                                        	<tr>
                                        		<td colspan="10" class="text-right">
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="sPage">首页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="prePage">上一页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="nextPage">下一页</a>
							                        <a href="#" class="btn hidden-sm-down btn-info" @click="wPage">尾页</a>
                                        		</td>
                                        	</tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Start Modal -->
	<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">充值</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">会员编号：</label>&nbsp;
							<input type="text" class="form-control" id="memberId" placeholder="">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">充值金额：</label>&nbsp;
							<input type="email" class="form-control" id="rechargeMoney" placeholder="">
						</div>
						
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-11">
							<label for="exampleInputName2">支付方式：</label>&nbsp;
							<select class="form-control form-control-line" style="width: 202px;" id="rechargeWay">
								<option>请选择支付方式</option>
                                <option value="0">现金</option>
                                <option value="1">支付宝</option>
                                <option value="2">微信</option>
                                <option value="3">刷卡</option>
                            </select>
						</div>
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-10">
							<label for="exampleInputEmail2">备注：</label>&nbsp;
							<input type="email" class="form-control" id="remark" placeholder="" style="width: 550px">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="qd">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
	</div>
    <!-- End Modal -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript - 比3和4 多以下三个js引入 -->
    <script src="/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    <script th:src="@{/js/vue.js}"></script>
    <script>
			var vm=new Vue({
				el:"#etc",
				data(){
					return {
						PageList:{
							list:[]
						}
					}
				},
				methods:{
					toMember:function(){
						location.href="http://localhost:8080/MemberManage/toMember";
					},
					toLevel:function(){
						location.href="http://localhost:8080/MemberManage/toLevel";
					},
					toRecharge:function(){
						location.href="http://localhost:8080/MemberManage/toRecharge";
					},
					toMake:function(){
						location.href="http://localhost:8080/MemberManage/toMake";
					},
					toCredits:function(){
						location.href="http://localhost:8080/MemberManage/toCredits";
					},
					qd:function(){
						var $memberId=$("#memberId").val();
						var $rechargeMoney=$("#rechargeMoney").val();
						var $rechargeWay=$("#rechargeWay").val();
						var $remark=$("#remark").val();
						
						if($memberId!=""&&$rechargeMoney!=""&&$rechargeWay!="请选择支付方式"&&$remark!=""){
							var createtime =new Date();
							var year=createtime.getFullYear();
							var month=createtime.getMonth()+1;
							var date=createtime.getDate();
							var hours=createtime.getHours();
							var minutes=createtime.getMinutes();
							var seconds=createtime.getSeconds();
							var create=year+"-"+month+"-"+date+" "+hours+":"+minutes+":"+seconds;
							
							var _this=this;
							$.ajax({
								url:"[[@{/MemberManage/queryCont}]]",
								type:"get",
								data:{MemberId:$memberId},
								dataType:"json",
								"success":function(res){
									if(res==0){
										alert("没有找到该会员");
									}else{
										$.ajax({
											url:"[[@{/MemberManage/queryById}]]",
											type:"get",
											data:{MemberId:$memberId},
											dataType:"json",
											"success":function(res){
												var r=parseFloat($rechargeMoney);
												var b=parseFloat(res.balance);
												var $balance=r+b;
												var p=parseInt($rechargeMoney);
												var i=parseInt(res.integral);
												var $integral=p+i;
												alert(res.balance);
												alert($balance);
												var obt={
														balance:$balance,
														integral:$integral,
														memberId:$memberId
												}
												$.ajax({
													url:"[[@{/MemberManage/updatebi}]]",
													type:"put",
													data:JSON.stringify(obt),
													dataType:"json",
													contentType:"application/json",
													"success":function(res){
														if(res.msg=="修改成功"){
															alert("充值成功！");
															var obj={
																	memberId:$memberId,
																	rechargeMoney:$rechargeMoney,
																	presentIntegral:$rechargeMoney,
																	rechargeWay:$rechargeWay,
																	remark:$remark,
																	createTime:create,
																	presentBalance:$balance
															}
															$.ajax({
																url:"[[@{/RechargeRecord/insertAll}]]",
																type:"post",
																data:JSON.stringify(obj),
																dataType:"json",
																contentType:"application/json",
																"success":function(res){
																	alert(res.msg);
																	location.href="http://localhost:8080/MemberManage/toRecharge";
																}
															});
														}else{
															alert("修改失败！");
														}
													}
												});
											}
											});
										
										
									}
								}
							});
							
							
						}else{
							alert("请完善信息");
						}
						
					},
					goPage:function(pageNum){
						var _this=this;
						var $sj =$("#sj").val();
						var $mz =$("#mz").val();
						var boj={
								pageNum:pageNum,
								createTime:$sj,
								memberName:$mz
						}
						$.ajax({
							url:"[[@{/RechargeRecord/queryAll}]]",
							type:"post",
							data:JSON.stringify(boj),
							dataType:"json",
							contentType:"application/json",
							"success":function(res){
								_this.PageList=res;
							}
						});
					},
					prePage:function(){
						if(this.PageList.prePage>=1){
	 							this.goPage(this.PageList.prePage);
						}
	 				},
	 				nextPage:function(){
	 					if(this.PageList.nextPage<=this.PageList.pages&&this.PageList.nextPage!=0){
	 							this.goPage(this.PageList.nextPage);
	 					}
	 				},
	 				sPage:function(){
	 					this.goPage(1);
	 				},
	 				wPage:function(){
	 					this.goPage(this.PageList.pages);
	 				},
	 				gb:function(){
	 					this.goPage(1);
	 				},
	 				dj:function(){
	 					this.goPage(1);
	 				}
				},created:function(){
	 				this.goPage(1);
	 			}
			});
	</script>
</body>

</html>
