<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/assets/images/favicon.png}">
    <title>会员等级-会员-竹林流沙商品管理系统</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/blue.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link th:href="@{/css/style_programmer.css}" id="theme" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div id="etc">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> 
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span>
                            <!-- dark Logo text -->
                            <img src="/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto mt-md-0 ">
                        <!-- This is  -->
                        <li class="nav-item"> 
                        	<a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)">
                        		<i class="ti-menu"></i>
                        	</a> 
                        </li>
                        <li class="nav-item hidden-sm-down">
                            <form class="app-search p-l-20">
                                <input type="text" class="form-control" placeholder="Search for..."> 
                            	<a class="srh-btn"><i class="ti-search"></i></a>
                            </form>
                        </li>
                        <li class="nav-item" style="margin-left: 30px;">
                        	<a href="a_index.html" class="waves-effect _account">
                            	<i class="fa fa-area-chart m-r-10" aria-hidden="true"></i>统计报表
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="b_cashier.html" class="waves-effect _account">
                            	<i class="fa fa-diamond m-r-10" aria-hidden="true"></i>收银
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="c_shop.html" class="waves-effect _account">
                            	<i class="fa fa-globe m-r-10" aria-hidden="true"></i>店铺
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="d_commodity.html" class="waves-effect _account">
                            	<i class="fa fa-calendar m-r-10" aria-hidden="true"></i>商品
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="e_inventory.html" class="waves-effect _account">
                            	<i class="fa fa-cube m-r-10" aria-hidden="true"></i>库存
                            </a>
                        </li>
                        <li class="nav-item">
                        	<a href="f_member.html" class="waves-effect _account nav_li_active">
                            	<i class="fa fa-address-book m-r-10" aria-hidden="true"></i>会员
                            </a>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="c_user.html" aria-haspopup="true" aria-expanded="false">
                            	<img src="/assets/images/users/HeadPortrait.jpg" alt="user" class="profile-pic m-r-5" />丶秦南
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a @click="toMember" class="waves-effect">
                            	<i class="fa fa-users m-r-10" aria-hidden="true"></i>会员信息
                            </a>
                        </li>
                        <li>
                            <a @click="toLevel" class="waves-effect active">
                            	<i class="fa fa-cogs m-r-10" aria-hidden="true"></i>等级设置
                            </a>
                        </li>
                        <li>
                            <a @click="toCredits" class="waves-effect">
                            	<i class="fa fa-cog m-r-10" aria-hidden="true"></i>积分设置
                            </a>
                        </li>
                        <li>
                            <a @click="toRecharge" class="waves-effect">
                            	<i class="fa fa-building m-r-10" aria-hidden="true"></i>充值抵扣
                            </a>
                        </li>
                        <li>
                            <a @click="toMake" class="waves-effect">
                            	<i class="fa fa-barcode m-r-10" aria-hidden="true"></i>成交记录
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0" style="float: left;margin-right: 20px;">等级设置</h3>
                    </div>
                    <div class="col-md-7 col-4 align-self-center" style="padding-left: 60px;">
                        <a href="#" class="btn pull-right hidden-sm-down btn-info" data-toggle="modal" data-target=".bs-example-modal-lg">添加等级</a>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <!-- column -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-block">
                                <!--<h4 class="card-title">Basic Table</h4>
                                <h6 class="card-subtitle">Add class <code>.table</code></h6>-->
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>会员等级</th>
                                                <th>折扣</th>
                                                <th>升级规则</th>
                                                <th>操作</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item,index in list">
                                                <td>{{item.mlId}}</td>
                                                <td>{{item.mlName}}</td>
                                                <td>{{item.discount}}</td>
                                                <td>{{item.upgradeRule}}</td>
                                                <td>
                                                	<a class="btn delBtn" href="javascript:void(0);">删除</a>&nbsp;
                                                	<a class="btn editBtn" href="javascript:void(0);" data-toggle="modal" data-target=".bs-example-modal-xgcx"  @click="xgcx(item.mlId)">修改</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
            	<p style="margin-bottom: 0px;">版权所有 -&nbsp;-&nbsp;&copy;2019  竹林流沙工作室 保留所有权利 -&nbsp;-&nbsp;
					更多模板从<a href="http://www.cssmoban.com/" target="_blank" title="竹林流沙工作室">竹林流沙工作室</a>收集
				</p>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">添加等级</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">等级名称：</label>&nbsp;
							<input type="text" class="form-control" placeholder="" id="mlName">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">优惠折扣：</label>&nbsp;
							<input type="email" class="form-control" placeholder="" id="discount">
						</div>
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="form-group col-md-1"></div>
						<div style="border: 1px solid silver;">
						<div class="form-group col-md-12" style="border-bottom: 1px solid silver;">
							<label>自动升级</label>
							
						</div>
						<div class="form-group col-md-12">
								<ol>
									<li>当会员消费达到<input type="text" style="width: 20%;" id="upgradeRule">元时，自动升级到该等级。</li>
									<li>该等级有效期：<input type="radio" name="s" checked="checked" value="0"/>永久<input type="radio" name="s" value="1"/>1年</li>
									<li>自动升级，将在消费达到要求后的第二天生效。</li>
								</ol>
						</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="xz">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
    
    
    
    
    <div class="modal fade bs-example-modal-xgcx" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  		<div class="modal-dialog modal-lg">
    		<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">修改等级</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				</div>
				<div class="modal-body">
					<form class="form-inline">
						<div class="form-group col-md-1"></div>
						<div class="form-group col-md-5">
							<label for="exampleInputName2">等级名称：</label>&nbsp;
							<input type="text" class="form-control" placeholder="" id="mlName" v-model="mldx.mlName">
						</div>
						<div class="form-group col-md-6">
							<label for="exampleInputEmail2">优惠折扣：</label>&nbsp;
							<input type="email" class="form-control" placeholder="" id="discount" v-model="mldx.discount">
						</div>
						
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div class="form-group col-md-1"></div>
						<div style="border: 1px solid silver;">
						<div class="form-group col-md-12" style="border-bottom: 1px solid silver;">
							<label>自动升级</label>
							
						</div>
						<div class="form-group col-md-12">
								<ol>
									<li>当会员消费达到<input type="text" style="width: 20%;" id="upgradeRule" v-model="mldx.upgradeRule">元时，自动升级到该等级。</li>
									<li>该等级有效期：<input type="radio" name="d" value="0"/>永久<input type="radio" name="d" value="1"/>1年</li>
									<li>自动升级，将在消费达到要求后的第二天生效。</li>
								</ol>
						</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" @click="xg">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
    
    
    
    
    </div>
    
    
    
    
    <script src="/assets/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/assets/plugins/bootstrap/js/tether.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="/assets/plugins/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- Flot Charts JavaScript - 比3和4 多以下三个js引入 -->
    <script src="/assets/plugins/flot/jquery.flot.js"></script>
    <script src="/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="/js/flot-data.js"></script>
    <!-- ============================================================== -->
    <!-- Style switcher -->
    <!-- ============================================================== -->
    <script src="/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>
    
    <script th:src="@{/js/vue.js}"></script>
    <script>
			var vm=new Vue({
				el:"#etc",
				data(){
					return {
						list:[],
						mldx:{}
					}
				},
				methods:{
					toMember:function(){
						location.href="http://localhost:8080/MemberManage/toMember";
					},
					toLevel:function(){
						location.href="http://localhost:8080/MemberManage/toLevel";
					},
					toRecharge:function(){
						location.href="http://localhost:8080/MemberManage/toRecharge";
					},
					toMake:function(){
						location.href="http://localhost:8080/MemberManage/toMake";
					},
					toCredits:function(){
						location.href="http://localhost:8080/MemberManage/toCredits";
					},
					queryAll:function(){
						var _this=this;
						$.ajax({
							url:"[[@{/MemberLevel/queryAll}]]",
							type:"get",
							data:{},
							dataType:"json",
							"success":function(res){
								_this.list=res;
							}
						});
					},
					xz:function(){
						var $mlName=$("#mlName").val();
						var $discount=$("#discount").val();
						var $upgradeRule=$("#upgradeRule").val();
						var $validity=$('input[name="s"]:checked').val();
						var obj={
								mlName:$mlName,
								discount:$discount,
								upgradeRule:$upgradeRule,
								validity:$validity,
								upgrade:0
						}
						$.ajax({
							url:"[[@{/MemberLevel/insertAll}]]",
							type:"post",
							data:JSON.stringify(obj),
							dataType:"json",
							contentType:"application/json",
							"success":function(res){
								alert(res.msg);
								location.href="http://localhost:8080/MemberManage/toLevel";
							}
						});
					},
					xgcx:function(id){
						var _this=this;
						$.ajax({
							url:"[[@{/MemberLevel/queryById}]]",
							type:"get",
							data:{mlId:id},
							dataType:"json",
							"success":function(res){
								_this.mldx=res;
								$(":radio[name='d'][value='" + res.validity + "']").prop("checked", "checked");
							}
						});
					},
					xg:function(){
						var _t=this;
						_t.mldx.validity=$('input[name="d"]:checked').val();
						$.ajax({
							url:"[[@{/MemberLevel/updateAll}]]",
							type:"put",
							data:JSON.stringify(_t.mldx),
							dataType:"json",
							contentType:"application/json",
							"success":function(res){
								alert(res.msg);
								location.href="http://localhost:8080/MemberManage/toLevel";
							}
						});
					}
				},
				created:function(){
					this.queryAll();
				}
			});
	</script>
</body>

</html>
