<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>商品上传主要部分</title>
		<link rel="stylesheet" th:href="@{/css/master.css}" />
		<script type="text/javascript" th:src="@{/js/jquery-1.7.1.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/main.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.json-2.3.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.jqzoom.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery.form.js}"></script>
		
		<!-- <script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor.config.js}"></script>		原页面的富文本编辑器
		<script type="text/javascript" charset="utf-8" th:src="@{/js/ueditor.all.min.js}"></script> 		用不上了		-->
		
		<link rel="stylesheet" th:href="@{/uploading.css}" />	
		<script type="text/javascript" charset="utf-8" th:src="@{/uploading.js}"></script>
		
		<!-- 百度富文本编辑器CSS文件 -->
	    <link th:href="@{/umeditor-1.2.3/themes/default/_css/umeditor.css}" type="text/css" rel="stylesheet">
		<!-- 百度富文本编辑器JS文件 -->
	    <script type="text/javascript" charset="utf-8" th:src="@{/umeditor-1.2.3/umeditor.config.js}"></script>
	    <script type="text/javascript" charset="utf-8" th:src="@{/umeditor-1.2.3/_examples/editor_api.js}"></script>
	    <script type="text/javascript" th:src="@{/umeditor-1.2.3/lang/zh-cn/zh-cn.js}"></script>
	</head>

	<body>
		<!-- S containerArea -->
		<div class="containerArea clearfix">
			<!-- S rightArea -->
			<div class="main_body">
				<!--上传商品 start-->
				<div class="uploadProductArea XXArea clearfix" guid="">
					<!--右边信息 begin-->
					<div class="rightDiv">
						<div class="ptype2">
							<div class="listDiv">
								<span class="title"><i>*</i>商品货号</span>
								<input type="text" value="" name="bh" class="inputText" maxlength="16">

								<span class="title">商品品牌</span>
								<input type="text" value="" name="brand" class="inputText" maxlength="16">
							</div>

							<div class="listDiv">
								<span class="title"><i>*</i>商品名称</span>
								<input type="text" value="" name="name" class="inputText" maxlength="36" style="width:418px;">
							</div>

							<div class="listDiv">
								<span class="title"><i>*</i>吊牌价格</span>
								<input type="text" value="" name="price" class="inputText" maxlength="12">
								
								<span class="title"><i>*</i>成本价格</span>
								<input type="text" value="" name="fprice" class="inputText" maxlength="12">
							</div>
							
							<div class="listDiv">
								<span class="title"><i>*</i>商品类别</span>
								<span class="combox directoryBox dropDownBox">
									<input class="comboxText" type="text" style="width:138px" readonly value="请选择类别" comboxval="">
									
									<span class="comboxArrow"></span>
									
									<div class="pannel hideDiv" style="width:172px;">
										<ul class="directoryList">
											<li>
												<a comboxval="" default="请选择类别" href="javascript:void(0);">请选择类别</a>
											</li>
											<!-- <li>
												<a comboxval="" default="衬衫" href="javascript:void(0);">衬衫</a>
											</li> -->
										</ul>
									</div>
								</span>
							</div>

							<div class="listDiv productsColorObject">
								<span class="title"><i>*</i>商品颜色</span>

								<div class="chosenColorArea">
									<table class="colorsTable ShowColoTabler">
										<colgroup>
											<col width="25%">
											<col width="25%">
											<col width="25%">
											<col width="25%">
										</colgroup>
										
										<tbody>
											<tr>
												<th>黑色系</th>
												<th>白色系</th>
												<th>红色系</th>
												<th>蓝色系</th>
											</tr>
											<tr>
												<td>
													<ul class="listColor">
														<li class="c-000000">
															<input type="checkbox" class="checkbox" id="c-000000" idvalue="9" value="黑色" imageurl="c-000000" viewimageurl="c-000000" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="黑色" for="c-000000"><span class="ColorImg"></span>黑色</label></a>
														</li>
														<li class="c-666666">
															<input type="checkbox" class="checkbox" id="c-666666" idvalue="10" value="深灰色" imageurl="c-666666" viewimageurl="c-666666" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="深灰色" for="c-666666"><span class="ColorImg"></span>深灰色</label></a>
														</li>
														<li class="c-e4e4e4">
															<input type="checkbox" class="checkbox" id="c-e4e4e4" idvalue="11" value="浅灰色" imageurl="c-e4e4e4" viewimageurl="c-e4e4e4" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="浅灰色" for="c-e4e4e4"><span class="ColorImg"></span>浅灰色</label></a>
														</li>
													</ul>
												</td>
												<td>
													<ul class="listColor">
														<li class="c-ffffff">
															<input type="checkbox" class="checkbox" id="c-ffffff" idvalue="12" value="白色" imageurl="c-ffffff" viewimageurl="c-ffffff" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="白色" for="c-ffffff"><span class="ColorImg"></span>白色</label></a>
														</li>
														<li class="c-transparent">
															<input type="checkbox" class="checkbox" id="c-transparent" idvalue="13" value="透明" imageurl="c-transparent" viewimageurl="c-transparent" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="透明" for="c-transparent"><span class="ColorImg"></span>透明</label></a>
														</li>
														<li class="c-assortment">
															<input type="checkbox" class="checkbox" id="-assortment" idvalue="14" value="花色" imageurl="c-assortment" viewimageurl="c-assortment" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="花色" for="-assortment"><span class="ColorImg"></span>花色</label></a>
														</li>
													</ul>
												</td>
												<td>
													<ul class="listColor">
														<li class="c-990000">
															<input type="checkbox" class="checkbox" id="c-990000" idvalue="15" value="酒红色" imageurl="c-990000" viewimageurl="c-990000" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="酒红色" for="c-990000"><span class="ColorImg"></span>酒红色</label></a>
														</li>
														<li class="c-ff0000">
															<input type="checkbox" class="checkbox" id="c-ff0000" idvalue="16" value="红色" imageurl="c-ff0000" viewimageurl="c-ff0000" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="红色" for="c-ff0000"><span class="ColorImg"></span>红色</label></a>
														</li>
														<li class="c-ffb6c1">
															<input type="checkbox" class="checkbox" id="c-ffb6c1" idvalue="17" value="粉红色" imageurl="c-ffb6c1" viewimageurl="c-ffb6c1" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="粉红色" for="c-ffb6c1"><span class="ColorImg"></span>粉红色</label></a>
														</li>
													</ul>
												</td>
												<td>
													<ul class="listColor">
														<li class="c-041690">
															<input type="checkbox" class="checkbox" id="c-041690" idvalue="18" value="深蓝色" imageurl="c-041690" viewimageurl="c-041690" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="深蓝色" for="c-041690"><span class="ColorImg"></span>深蓝色</label></a>
														</li>
														<li class="c-0000ff">
															<input type="checkbox" class="checkbox" id="c-0000ff" idvalue="19" value="蓝色" imageurl="c-0000ff" viewimageurl="c-0000ff" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="蓝色" for="c-0000ff"><span class="ColorImg"></span>蓝色</label></a>
														</li>
														<li class="c-1eddff">
															<input type="checkbox" class="checkbox" id="c-1eddff" idvalue="20" value="天蓝色" imageurl="c-1eddff" viewimageurl="c-1eddff" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="天蓝色" for="c-1eddff"><span class="ColorImg"></span>天蓝色</label></a>
														</li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>
									
									<table class="colorsTable ShowColoTabler">
										<colgroup>
											<col width="25%">
											<col width="25%">
											<col width="25%">
											<col width="25%">
										</colgroup>
										
										<tbody>
											<tr>
												<th>黄色系</th>
												<th>绿色系</th>
												<th>紫色系</th>
												<th>其他色系</th>
											</tr>
											<tr>
												<td>
													<ul class="listColor">
														<li class="c-ffa500">
															<input type="checkbox" class="checkbox" id="c-ffa500" idvalue="21" value="桔色" imageurl="c-ffa500" viewimageurl="c-ffa500" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="桔色" for="c-ffa500"><span class="ColorImg"></span>桔色</label></a>
														</li>
														<li class="c-ffff00">
															<input type="checkbox" class="checkbox" id="c-ffff00" idvalue="22" value="黄色" imageurl="c-ffff00" viewimageurl="c-ffff00" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="黄色" for="c-ffff00"><span class="ColorImg"></span>黄色</label></a>
														</li>
														<li class="c-ffffb1">
															<input type="checkbox" class="checkbox" id="c-ffffb1" idvalue="23" value="浅黄色" imageurl="c-ffffb1" viewimageurl="c-ffffb1" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="c-ffffb1" title="浅黄色" for="c-ffffb1"><span class="ColorImg"></span>浅黄色</label></a>
														</li>
													</ul>
												</td>
												<td>
													<ul class="listColor">
														<li class="c-5d762a">
															<input type="checkbox" class="checkbox" id="c-5d762a" idvalue="24" value="军绿色" imageurl="c-5d762a" viewimageurl="c-5d762a" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="军绿色" for="c-5d762a"><span class="ColorImg"></span>军绿色</label></a>
														</li>
														<li class="c-008000">
															<input type="checkbox" class="checkbox" id="c-008000" idvalue="25" value="绿色" imageurl="c-008000" viewimageurl="c-008000" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="绿色" for="c-008000"><span class="ColorImg"></span>绿色</label></a>
														</li>
														<li class="c-98fb98">
															<input type="checkbox" class="checkbox" id="c-98fb98" idvalue="26" value="浅绿色" imageurl="c-98fb98" viewimageurl="c-98fb98" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="浅绿色" for="c-98fb98"><span class="ColorImg"></span>浅绿色</label></a>
														</li>
													</ul>
												</td>
												<td>
													<ul class="listColor">
														<li class="c-4b0082">
															<input type="checkbox" class="checkbox" id="c-4b0082" idvalue="27" value="深紫色" imageurl="c-4b0082" viewimageurl="c-4b0082" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="深紫色" for="c-4b0082"><span class="ColorImg"></span>深紫色</label></a>
														</li>
														<li class="c-800080">
															<input type="checkbox" class="checkbox" id="c-800080" idvalue="28" value="紫色" imageurl="c-800080" viewimageurl="c-800080" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="紫色" for="c-800080"><span class="ColorImg"></span>紫色</label></a>
														</li>
														<li class="c-dda0dd">
															<input type="checkbox" class="checkbox" id="c-dda0dd" idvalue="29" value="紫罗兰" imageurl="c-dda0dd" viewimageurl="c-dda0dd" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="紫罗兰" for="c-dda0dd"><span class="ColorImg"></span>紫罗兰</label></a>
														</li>
													</ul>
												</td>
												<td>
													<ul class="listColor">
														<li class="c-bdb76b">
															<input type="checkbox" class="checkbox" id="c-bdb76b" idvalue="30" value="深卡其" imageurl="c-bdb76b" viewimageurl="c-bdb76b" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="深卡其" for="c-bdb76b"><span class="ColorImg"></span>深卡其</label></a>
														</li>
														<li class="c-855b00">
															<input type="checkbox" class="checkbox" id="c-855b00" idvalue="31" value="褐色" imageurl="c-855b00" viewimageurl="c-855b00" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="褐色" for="c-855b00"><span class="ColorImg"></span>褐色</label></a>
														</li>
														<li class="c-d2691e">
															<input type="checkbox" class="checkbox" id="c-d2691e" idvalue="32" value="巧克力" imageurl="c-d2691e" viewimageurl="c-d2691e" name="checkColor">
															<a href="javascript:void(0);"><label class="Color" colorname="" title="巧克力" for="c-d2691e"><span class="ColorImg"></span>巧克力</label></a>
														</li>
													</ul>
												</td>
											</tr>
										</tbody>
									</table>

									<table id="productsColorList" class="colorTable productsColorList hasChosenColor"  >
										<colgroup>
											<col width="50%">
											<col width="50%">
										</colgroup>
										
										<thead>
											<tr>
												<th>颜色名称</th>
												<th>颜色图片</th>
											</tr>
										</thead>
										
										<tbody>
											<!--<tr pic66_66="" pic464_464="" pic="" pic222_222="">
												<td>
													<span class="Num">1</span>
													<span class="NumPoint">.</span>
													<span class="ColorImg "> </span>
													<input class="colorInputText" type="text" maxlength="15" name="" idvalue="" value="" imageurl="" viewimageurl="" placeholder="请输入颜色">
													<a class="Delete" href="javascript:void(0);" rel="删除">删除</a>
												</td>
												<td>
													<div class="uploadTd">
														<input type="text" style="background-color:#FAFAFA;" disabled="disabled" value="" class="imageInputText">
														<label for="uploadImgFileX" class="btn">上传图片</label>
													</div>
												</td>
											</tr>-->
										</tbody>
									</table>
									
									<a href="javascript:void(0);" class="addColorBtn" style="width:120px;text-align:right;float:right;padding-top:2px;padding-right:0px;color:#0064CC;">+添加颜色</a>
									<form name="form2" enctype="multipart/form-data">
										<input type="file" name="file" class="file uploadImgFileX" id="uploadImgFileX" />
									</form>
								</div>

							</div>

							<div class="listDiv productsSizeObject">
								<span class="title"><i>*</i>商品尺码</span>
								
								<div id="productsSizeList" class="fdColor clearfix">
									<ul>
										<!-- <li class="" title="M">
											<a href="javascript:void(0);" value="1">M</a><i></i>
										</li>
										<li class="" title="-">
											<a href="javascript:void(0);" value="8">-</a><i></i>
										</li> -->
									</ul>
									<a class="editSizeBtn" href="javascript:void(0);">编辑尺码</a>
								</div>

								<div id="editProductsSizeList" class="editColor clearfix" style="display: none;">
									<ul>
										<!-- <li>
											<input type="text" name="product_size" idvalue="1" value="S" maxlength="8">
											<a href="javascript:void(0);" class="delBtn"></a>
										</li>
										<li>
											<input type="text" name="product_size" idvalue="2" value="M" maxlength="8">
											<a href="javascript:void(0);" class="delBtn"></a>
										</li> -->
									</ul>
									<!-- <a class="submitBtn toBatchUpdateSize" href="javascript:void(0);" id="toBatchUpdateSize">保存</a> -->
									<a class="cancelBtn" href="javascript:void(0);">确定</a>
								</div>
								<i class="jsonDiv"></i>
							</div>

							<div class="listDiv">
								<span class="title"><i>*</i>库存总数</span>
								<input type="text" value="" class="inputText totalNumInputText" name="num_total" disabled="disabled" style="width:124px;">
								<label style="color:#F05B23; float:left; padding-left:8px; line-height:36px;">请勿随意修改库存，以免影响库存准确性</label>

								<table id="productNumList" class="colorTable productNumList">
									<colgroup>
										<col width="40%">
										<col width="20%">
										<col width="40%">
									</colgroup>
									
									<thead>
										<tr>
											<th>规格</th>
											<th>数量</th>
											<th>条形码</th>
										</tr>
									</thead>
									
									<tbody>
										<!--<tr colorid="黑色" class="黑色">
											<td>尺码</td>
											<td>
												<label>黑色</label>
												<input type="text" name="productnum" sizeid="XXS" colorid="黑色" class="colorText" value="0">
											</td>
										</tr>-->
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<!--右边信息 end--->

					<!--放大功能 begin-->
					<div id="productPicShow" class="productPicShow">
						<div id="magnifier">
							<div class="tb-booth tb-pic tb-s310">
								<a href="javascript:void(0);">
									<img src="/picture/uploadimg150_150.jpg" alt="" class="jqzoom" rel="/picture/uploadimg150_150.jpg">
								</a>
							</div>
						</div>
						
						<div class="sListPic">
							<span title="上一张" class="prev"></span>
							<span title="下一张" class="next"></span>
							<div id="tabImageSmall" class="v_content clearfix">
								<div class="v_content_list">
									<ul class="tb-thumb productImgList" id="thumblist">
										<!-- <li class="">
											<a href="javascript:void(0);" class="imgD">
												<img big="/picture/HeadPortrait.jpg" mid="/picture/HeadPortrait.jpg" src="/picture/HeadPortrait.jpg">
											</a>
											<div class="controlDiv">
												<a class="leftBtn" href="javascript:void(0);">向左</a>
												<a class="rightBtn" href="javascript:void(0);">向右</a>
												<a class="delBtn" href="javascript:void(0);">删除</a>
											</div>
										</li> -->

										<li class="addBtn" id="addProductPicBtn">
											<label for="uploadImgFile" class="uploadImgFileLabel">&nbsp;</label>
											<form name="form1" enctype="multipart/form-data">
												<input type="file" name="file" class="file uploadImgFile" id="uploadImgFile" />
											</form>
											<a href="javascript:void(0);" class="imgD">
												<img alt="上传图片" src="/picture/add_ico.png" big="/picture/uploadimg150_150.jpg" mid="/picture/uploadimg150_150.jpg">
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<!--放大功能 end-->

					<!-- S editorArea编辑工具 -->
					<div class="editorArea"  >
						<p class="title">商品信息:</p>
						<div class="editorDiv">
							<script type="text/plain" id="myEditor" style="width:100%;height:240px;"></script>
						</div>
					</div>
					<!-- E editorArea编辑工具 -->

					<!--BtnXDiv begin-->
					<div class="BtnXDiv">
						<a href="javascript:void(0);" class="btn submitBnt toNewProductBtn" id="toNewProductBtn">发布商品</a>
						<a href="javascript:history.go(-1);" class="btn cancelBtn">取消发布</a>
						<span class="tip"></span>
					</div>
					<!--BtnXDiv end--->
				</div>
				<!--上传商品 end-->
			</div>
			<!-- E rightArea -->
		</div>
		<!-- E containerArea -->
		
		<script type="text/javascript">
			//创建JS商品对象
			var commodityMain = {
					cmId : 0,
					articleNo : "",
					brand : "",
					cmName : "",
					salePrice : "",
					costPrice : "",
					ctId : "",
					imgPath : "",
					information : "",
					shopId : "",
					commodityDetails : [
						{
							cdId : 0,
							cmId : 0,
							sizeId : "",
							color : "",
							quantity : 0,
							barCode : ""
						},{
							cdId : 0,
							cmId : 0,
							sizeId : "",
							color : "",
							quantity : 0,
							barCode : ""
						}
					]
			};
			var typeListC = [];	//父页面查询类别列表
			var sizeListC = [];	//父页面查询尺码列表
			var imgListX = [];
			var colorListX = [];
			var sizeListX = [];
			
			$(function(){
				typeListC = window.parent.typeList;	//父页面查询类别列表
				sizeListC = window.parent.sizeList;	//父页面查询尺码列表
				
				bindTypeList();	//1.绑定商品类别
				bindSizeList();	//2.绑定商品尺码
				
			});
			
			//1.绑定商品类别
			function bindTypeList(){
				for(var i = 0; i < typeListC.length; i++){
					var $li = $("<li>" +
									"<a comboxval='" + typeListC[i].ctId + "' default='" + typeListC[i].ctName + "' href='javascript:void(0);'>" + typeListC[i].ctName + "</a>" +
								"</li>");
					$(".directoryList").append($li);
				}
			}
			
			//2.绑定商品尺码
			function bindSizeList(){
				for(var i = 0; i < sizeListC.length; i++){
					var $li = $("<li class='' title='" + sizeListC[i].sizeName + "'>" +
									"<a href='javascript:void(0);' value='" + sizeListC[i].sizeId + "'>" + sizeListC[i].sizeName + "</a><i></i>" +
								"</li>");
					$("#productsSizeList>ul").append($li);
				}
				
				productSizeBlur();	//绑定失去焦点事件
			}
		</script>
		<script type="text/javascript">
			//0.实例化编辑器
		    var um = UM.getEditor('myEditor');
		    um.addListener('blur',function(){
		        $('#focush2').html('编辑器失去焦点了');
		    });
		    um.addListener('focus',function(){
		        $('#focush2').html('');
		    });
		</script>
	</body>
</html>