<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forest.mapper.CommodityDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.forest.entity.CommodityDetails" >
    <id column="cd_id" property="cdId" jdbcType="INTEGER" />
    <result column="cm_id" property="cmId" jdbcType="INTEGER" />
    <result column="size_id" property="sizeId" jdbcType="INTEGER" />
    <result column="color" property="color" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    cd_id, cm_id, size_id, color, quantity, bar_code
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.forest.entity.CommodityDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commodity_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from commodity_details
    where cd_id = #{cdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commodity_details
    where cd_id = #{cdId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.forest.entity.CommodityDetailsExample" >
    delete from commodity_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.forest.entity.CommodityDetails" >
    insert into commodity_details (cd_id, cm_id, size_id, 
      color, quantity, bar_code
      )
    values (#{cdId,jdbcType=INTEGER}, #{cmId,jdbcType=INTEGER}, #{sizeId,jdbcType=INTEGER}, 
      #{color,jdbcType=VARCHAR}, #{quantity,jdbcType=INTEGER}, #{barCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.forest.entity.CommodityDetails" >
    insert into commodity_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cdId != null" >
        cd_id,
      </if>
      <if test="cmId != null" >
        cm_id,
      </if>
      <if test="sizeId != null" >
        size_id,
      </if>
      <if test="color != null" >
        color,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="barCode != null" >
        bar_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cdId != null" >
        #{cdId,jdbcType=INTEGER},
      </if>
      <if test="cmId != null" >
        #{cmId,jdbcType=INTEGER},
      </if>
      <if test="sizeId != null" >
        #{sizeId,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="barCode != null" >
        #{barCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.forest.entity.CommodityDetailsExample" resultType="java.lang.Integer" >
    select count(*) from commodity_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update commodity_details
    <set >
      <if test="record.cdId != null" >
        cd_id = #{record.cdId,jdbcType=INTEGER},
      </if>
      <if test="record.cmId != null" >
        cm_id = #{record.cmId,jdbcType=INTEGER},
      </if>
      <if test="record.sizeId != null" >
        size_id = #{record.sizeId,jdbcType=INTEGER},
      </if>
      <if test="record.color != null" >
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.barCode != null" >
        bar_code = #{record.barCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update commodity_details
    set cd_id = #{record.cdId,jdbcType=INTEGER},
      cm_id = #{record.cmId,jdbcType=INTEGER},
      size_id = #{record.sizeId,jdbcType=INTEGER},
      color = #{record.color,jdbcType=VARCHAR},
      quantity = #{record.quantity,jdbcType=INTEGER},
      bar_code = #{record.barCode,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.forest.entity.CommodityDetails" >
    update commodity_details
    <set >
      <if test="cmId != null" >
        cm_id = #{cmId,jdbcType=INTEGER},
      </if>
      <if test="sizeId != null" >
        size_id = #{sizeId,jdbcType=INTEGER},
      </if>
      <if test="color != null" >
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="barCode != null" >
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
    </set>
    where cd_id = #{cdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forest.entity.CommodityDetails" >
    update commodity_details
    set cm_id = #{cmId,jdbcType=INTEGER},
      size_id = #{sizeId,jdbcType=INTEGER},
      color = #{color,jdbcType=VARCHAR},
      quantity = #{quantity,jdbcType=INTEGER},
      bar_code = #{barCode,jdbcType=VARCHAR}
    where cd_id = #{cdId,jdbcType=INTEGER}
  </update>
</mapper>