<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forest.mapper.CommodityTypeMapper" >
  <resultMap id="BaseResultMap" type="com.forest.entity.CommodityType" >
    <id column="ct_id" property="ctId" jdbcType="SMALLINT" />
    <result column="ct_name" property="ctName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ct_id, ct_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.forest.entity.CommodityTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from commodity_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from commodity_type
    where ct_id = #{ctId,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from commodity_type
    where ct_id = #{ctId,jdbcType=SMALLINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.forest.entity.CommodityTypeExample" >
    delete from commodity_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.forest.entity.CommodityType" >
    insert into commodity_type (ct_id, ct_name)
    values (#{ctId,jdbcType=SMALLINT}, #{ctName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.forest.entity.CommodityType" >
    insert into commodity_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctId != null" >
        ct_id,
      </if>
      <if test="ctName != null" >
        ct_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctId != null" >
        #{ctId,jdbcType=SMALLINT},
      </if>
      <if test="ctName != null" >
        #{ctName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.forest.entity.CommodityTypeExample" resultType="java.lang.Integer" >
    select count(*) from commodity_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update commodity_type
    <set >
      <if test="record.ctId != null" >
        ct_id = #{record.ctId,jdbcType=SMALLINT},
      </if>
      <if test="record.ctName != null" >
        ct_name = #{record.ctName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update commodity_type
    set ct_id = #{record.ctId,jdbcType=SMALLINT},
      ct_name = #{record.ctName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.forest.entity.CommodityType" >
    update commodity_type
    <set >
      <if test="ctName != null" >
        ct_name = #{ctName,jdbcType=VARCHAR},
      </if>
    </set>
    where ct_id = #{ctId,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forest.entity.CommodityType" >
    update commodity_type
    set ct_name = #{ctName,jdbcType=VARCHAR}
    where ct_id = #{ctId,jdbcType=SMALLINT}
  </update>
</mapper>