<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forest.mapper.CommodityMDMapper" >

  <resultMap id="BaseResultMap" type="com.forest.entity.CommodityMD" >
    <id column="cd_id" property="cdId" jdbcType="INTEGER" />
    <result column="cm_id" property="cmId" jdbcType="INTEGER" />
    <result column="ct_name" property="ctName" jdbcType="VARCHAR" />
    <result column="cm_name" property="cmName" jdbcType="VARCHAR" />
    <result column="article_no" property="articleNo" jdbcType="VARCHAR" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="color_name" property="colorName" jdbcType="VARCHAR" />
  	<result column="size_name" property="sizeName" jdbcType="VARCHAR" />
  	<result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
    <result column="shop_id" property="shopId" jdbcType="SMALLINT" />
    <result column="ct_id" property="ctId" jdbcType="SMALLINT" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="queryMDAllByManager" parameterType="com.forest.entity.CommodityMD" resultMap="BaseResultMap">
  	SELECT d.`cd_id`,m.`cm_id`,t.`ct_name`,m.`cm_name`,m.`article_no`,d.`bar_code`,d.`color_name`,d.`size_name`,d.`quantity`,m.`sale_price`,m.`cost_price`,m.`shop_id`,t.`ct_id`,i.`img_path`
	FROM `commodity_main` AS m
	LEFT JOIN `commodity_details` AS d ON m.`cm_id` = d.`cm_id`
	LEFT JOIN `commodity_type` AS t ON m.`ct_id` = t.`ct_id`
	LEFT JOIN `cm_img_relation` AS cir ON d.`cm_id` = cir.`cm_id`
	LEFT JOIN `images` AS i ON i.`img_id` = cir.`img_id`
	<where>
		<if test="shopId != null and shopId != ''">
			AND m.`shop_id` = #{shopId}
		</if>
		<if test="ctId != null and ctId != ''">
			AND t.`ct_id` = #{ctId}
		</if>
		<if test="cmName != null and cmName != ''">
			AND m.`cm_name` LIKE '%${cmName}%'
		</if>
	</where>
	GROUP BY d.`cd_id`
  </select>
  
</mapper>