<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forest.mapper.CommodityMDMapper" >

  <resultMap id="BaseResultMap" type="com.forest.entity.CommodityMD" >
    <id column="cd_id" property="cdId" jdbcType="INTEGER" />
    <result column="cm_id" property="cmId" jdbcType="INTEGER" />
    <result column="ct_name" property="ctName" jdbcType="VARCHAR" />
    <result column="cm_name" property="cmName" jdbcType="VARCHAR" />
    <result column="article_no" property="articleNo" jdbcType="VARCHAR" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="color" property="color" jdbcType="VARCHAR" />
  	<result column="size_name" property="sizeName" jdbcType="VARCHAR" />
  	<result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
  </resultMap>
  
  <select id="queryMDAllByManager" resultMap="BaseResultMap">
  	SELECT d.`cd_id`,m.`cm_id`,t.`ct_name`,m.`cm_name`,m.`article_no`,d.`bar_code`,d.`color`,s.`size_name`,d.`quantity`,m.`sale_price`,m.`cost_price`
	FROM `commodity_main` AS m
	LEFT JOIN `commodity_details` AS d ON m.`cm_id` = d.`cm_id`
	LEFT JOIN `commodity_type` AS t ON m.`ct_id` = t.`ct_id`
	left join `size` as s on d.`size_id` = s.`size_id`
	GROUP BY d.`cd_id`
  </select>
  
</mapper>