<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.forest.mapper.PurchaseDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.forest.entity.PurchaseDetails" >
    <id column="pd_id" property="pdId" jdbcType="INTEGER" />
    <result column="pm_id" property="pmId" jdbcType="INTEGER" />
    <result column="bar_code" property="barCode" jdbcType="INTEGER" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="tital_decimal" property="titalDecimal" jdbcType="DECIMAL" />
  </resultMap>
    <resultMap id="BaseResultMap1" type="com.forest.entity.CommodityMD" >
    <id column="cd_id" property="cdId" jdbcType="INTEGER" />
    <result column="cm_id" property="cmId" jdbcType="INTEGER" />
    <result column="ct_name" property="ctName" jdbcType="VARCHAR" />
    <result column="cm_name" property="cmName" jdbcType="VARCHAR" />
    <result column="article_no" property="articleNo" jdbcType="VARCHAR" />
    <result column="bar_code" property="barCode" jdbcType="VARCHAR" />
    <result column="color_name" property="colorName" jdbcType="VARCHAR" />
  	<result column="size_name" property="sizeName" jdbcType="VARCHAR" />
  	<result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="sale_price" property="salePrice" jdbcType="DECIMAL" />
    <result column="cost_price" property="costPrice" jdbcType="DECIMAL" />
    <result column="shop_id" property="shopId" jdbcType="SMALLINT" />
    <result column="ct_id" property="ctId" jdbcType="SMALLINT" />
    <result column="img_path" property="imgPath" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pd_id, pm_id, article_no, quantity, tital_decimal
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.forest.entity.PurchaseDetailsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from purchase_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from purchase_details
    where pd_id = #{pdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from purchase_details
    where pd_id = #{pdId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.forest.entity.PurchaseDetailsExample" >
    delete from purchase_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.forest.entity.PurchaseDetails" >
    insert into purchase_details (pd_id, pm_id, article_no, 
      quantity, tital_decimal)
    values (#{pdId,jdbcType=INTEGER}, #{pmId,jdbcType=INTEGER}, #{articleNo,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER}, #{titalDecimal,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.forest.entity.PurchaseDetails" >
    insert into purchase_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pdId != null" >
        pd_id,
      </if>
      <if test="pmId != null" >
        pm_id,
      </if>
      <if test="articleNo != null" >
        article_no,
      </if>
      <if test="quantity != null" >
        quantity,
      </if>
      <if test="titalDecimal != null" >
        tital_decimal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pdId != null" >
        #{pdId,jdbcType=INTEGER},
      </if>
      <if test="pmId != null" >
        #{pmId,jdbcType=INTEGER},
      </if>
      <if test="articleNo != null" >
        #{articleNo,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="titalDecimal != null" >
        #{titalDecimal,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.forest.entity.PurchaseDetailsExample" resultType="java.lang.Integer" >
    select count(*) from purchase_details
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update purchase_details
    <set >
      <if test="record.pdId != null" >
        pd_id = #{record.pdId,jdbcType=INTEGER},
      </if>
      <if test="record.pmId != null" >
        pm_id = #{record.pmId,jdbcType=INTEGER},
      </if>
      <if test="record.articleNo != null" >
        article_no = #{record.articleNo,jdbcType=INTEGER},
      </if>
      <if test="record.quantity != null" >
        quantity = #{record.quantity,jdbcType=INTEGER},
      </if>
      <if test="record.titalDecimal != null" >
        tital_decimal = #{record.titalDecimal,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update purchase_details
    set pd_id = #{record.pdId,jdbcType=INTEGER},
      pm_id = #{record.pmId,jdbcType=INTEGER},
      article_no = #{record.articleNo,jdbcType=INTEGER},
      quantity = #{record.quantity,jdbcType=INTEGER},
      tital_decimal = #{record.titalDecimal,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.forest.entity.PurchaseDetails" >
    update purchase_details
    <set >
      <if test="pmId != null" >
        pm_id = #{pmId,jdbcType=INTEGER},
      </if>
      <if test="articleNo != null" >
        article_no = #{articleNo,jdbcType=INTEGER},
      </if>
      <if test="quantity != null" >
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="titalDecimal != null" >
        tital_decimal = #{titalDecimal,jdbcType=DECIMAL},
      </if>
    </set>
    where pd_id = #{pdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forest.entity.PurchaseDetails" >
    update purchase_details
    set pm_id = #{pmId,jdbcType=INTEGER},
      article_no = #{articleNo,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      tital_decimal = #{titalDecimal,jdbcType=DECIMAL}
    where pd_id = #{pdId,jdbcType=INTEGER}
  </update>
  <select id="queryDId" resultMap="BaseResultMap1" parameterType="String">
  	SELECT *
	FROM `purchase_details`,`commodity_main`,`commodity_details`
	WHERE `commodity_details`.`bar_code` = `purchase_details`.`bar_code` AND `commodity_details`.`cm_id` = `commodity_main`.`cm_id`
	and pm_id=#{pmId}
	GROUP BY pd_id
  </select>
</mapper>